flows/solutions/part4_solution.json
[
    {
        "id": "2ea0d172.f2c9c6",
        "type": "tab",
        "label": "Tello Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d63d734.6c6db",
        "type": "udp out",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "52955",
        "base64": false,
        "multicast": "false",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "5f26b71d.9d65d8",
        "type": "debug",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "68cf6cc9.ae8bc4",
        "type": "comment",
        "z": "2ea0d172.f2c9c6",
        "name": "1 - Connect to TELLO-NNNNNN WiFi",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "74a5fb3c.061874",
        "type": "link in",
        "z": "2ea0d172.f2c9c6",
        "name": "TelloControls-In",
        "links": [
            "36d9e3f9.e8c7f4"
        ],
        "x": 95,
        "y": 160,
        "wires": [
            [
                "44797411.f0a9a4"
            ]
        ]
    },
    {
        "id": "b588c26f.cc38e",
        "type": "udp in",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "iface": "",
        "port": "52955",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "221a7cbd.d47634"
            ]
        ]
    },
    {
        "id": "221a7cbd.d47634",
        "type": "debug",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "2dda47dc.7e1bb8",
        "type": "comment",
        "z": "2ea0d172.f2c9c6",
        "name": "Receive Return Strings",
        "info": "The UDP input node listens for return values",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7380a83.3570f8",
        "type": "comment",
        "z": "2ea0d172.f2c9c6",
        "name": "================================ Send Commands to drone ==========================",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "9d89b490.1750a8",
        "type": "comment",
        "z": "2ea0d172.f2c9c6",
        "name": "================================ Handle incoming messages =========================",
        "info": "",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "a76cd0bd.263b2",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Land",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "be203b08.279e88"
            ]
        ]
    },
    {
        "id": "537cbb6b.26851c",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "TakeOff",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "84df6304.b55c2"
            ]
        ]
    },
    {
        "id": "a1e17dc.c8aad8",
        "type": "delay",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "7f6d9274.669e7c"
            ]
        ]
    },
    {
        "id": "7f6d9274.669e7c",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "TakeOff",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "takeoff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "84df6304.b55c2",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Init",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "command",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "a1e17dc.c8aad8",
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "be203b08.279e88",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Land",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "land",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "36d9e3f9.e8c7f4",
        "type": "link out",
        "z": "2ea0d172.f2c9c6",
        "name": "TelloControls-Out",
        "links": [
            "74a5fb3c.061874"
        ],
        "x": 715,
        "y": 720,
        "wires": []
    },
    {
        "id": "44797411.f0a9a4",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "format outbound message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "9d63d734.6c6db",
                "5f26b71d.9d65d8"
            ]
        ]
    },
    {
        "id": "273864c4.d04dfc",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Up 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "a900a5ab.d1d538",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Right 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 680,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "a19eed44.f64ec",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Forward 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "a5d1a90f.5eee2",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Down 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "a303334d.ce32a",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Left 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 720,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "8172f574.06a9f",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Back 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "back",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "448cfa9c.428274",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "cw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "8b25245f.44892",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "ccw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "ccw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 880,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "f88f6be1.69625",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Flip f",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "flip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "f",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "5f2d18f7.a08d38",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Up 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "273864c4.d04dfc"
            ]
        ]
    },
    {
        "id": "b5077230.cd75b",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Down 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "a5d1a90f.5eee2"
            ]
        ]
    },
    {
        "id": "72852391.b39534",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Right 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "a900a5ab.d1d538"
            ]
        ]
    },
    {
        "id": "c3cca92f.a5c9",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Left 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "a303334d.ce32a"
            ]
        ]
    },
    {
        "id": "c021aa5.87623d8",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Forward 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "a19eed44.f64ec"
            ]
        ]
    },
    {
        "id": "a2b803f5.6e6998",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Back 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "8172f574.06a9f"
            ]
        ]
    },
    {
        "id": "2bf7606.c0a102",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "cw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "448cfa9c.428274"
            ]
        ]
    },
    {
        "id": "644ebf85.c4219",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Full 360º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "fa90f35.a28131"
            ]
        ]
    },
    {
        "id": "5867bf6b.6d2ba8",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Flip forward",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "f88f6be1.69625"
            ]
        ]
    },
    {
        "id": "b57084d7.193b8",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "ccw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "8b25245f.44892"
            ]
        ]
    },
    {
        "id": "fa90f35.a28131",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "cw 360º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 920,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "cf6ac4aa.d63508",
        "type": "change",
        "z": "2ea0d172.f2c9c6",
        "name": "Emergency",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "emergency",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "36d9e3f9.e8c7f4"
            ]
        ]
    },
    {
        "id": "e5504b43.32259",
        "type": "inject",
        "z": "2ea0d172.f2c9c6",
        "name": "Emergency",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "cf6ac4aa.d63508"
            ]
        ]
    },
    {
        "id": "6c93f70a.13c2c8",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "land",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "be203b08.279e88"
            ]
        ]
    },
    {
        "id": "ba8deec1.d29298",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "84df6304.b55c2"
            ]
        ]
    },
    {
        "id": "c9443716.c3315",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Up (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-up",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 300,
        "y": 580,
        "wires": [
            [
                "273864c4.d04dfc"
            ]
        ]
    },
    {
        "id": "29bb924f.d56916",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Down (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-down",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "a5d1a90f.5eee2"
            ]
        ]
    },
    {
        "id": "e562d27f.340cc8",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Right (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-right",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 310,
        "y": 660,
        "wires": [
            [
                "a900a5ab.d1d538"
            ]
        ]
    },
    {
        "id": "6497b058.fc419",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Left (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 310,
        "y": 700,
        "wires": [
            [
                "a303334d.ce32a"
            ]
        ]
    },
    {
        "id": "406559ff.91d808",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Forward (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-forward",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "a19eed44.f64ec"
            ]
        ]
    },
    {
        "id": "30a0ad42.e5ba32",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Backward (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-backward",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "8172f574.06a9f"
            ]
        ]
    },
    {
        "id": "f1763988.850b9",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 23,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clockwise (90º)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-repeat",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 320,
        "y": 820,
        "wires": [
            [
                "448cfa9c.428274"
            ]
        ]
    },
    {
        "id": "60306bdd.4d7dfc",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "Counter Clockwise",
        "group": "c2fff4c.e351a08",
        "order": 24,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Anti-Clockwise (90º)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-undo",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 330,
        "y": 860,
        "wires": [
            [
                "8b25245f.44892"
            ]
        ]
    },
    {
        "id": "2bde7cbd.d99f3c",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 25,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Full Rotation (360º)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-repeat",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 330,
        "y": 900,
        "wires": [
            [
                "fa90f35.a28131"
            ]
        ]
    },
    {
        "id": "fe419081.4436f8",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 26,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip (forward)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-repeat",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 310,
        "y": 940,
        "wires": [
            [
                "f88f6be1.69625"
            ]
        ]
    },
    {
        "id": "713bd55a.5b694c",
        "type": "ui_button",
        "z": "2ea0d172.f2c9c6",
        "name": "",
        "group": "c2fff4c.e351a08",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Emergency Stop",
        "color": "",
        "bgcolor": "red",
        "icon": "fa-stop-circle",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "cf6ac4aa.d63508"
            ]
        ]
    },
    {
        "id": "ef133a8e.3dfe18",
        "type": "comment",
        "z": "2ea0d172.f2c9c6",
        "name": "Send Commands",
        "info": "This section of the flow formats the Tello command\ninto a single string to be sent to the drone.\n\nFormat is [command] [optional values]\n\nFor a list of Tello SDK commands, visit\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab33a3df.923eb8",
        "type": "comment",
        "z": "2ea0d172.f2c9c6",
        "name": "================================ Send Tello SDK Commands =========================",
        "info": "For a list of Tello SDK commands, visit\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "c2fff4c.e351a08",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "249f6ab1.18d8c6",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "249f6ab1.18d8c6",
        "type": "ui_tab",
        "z": "",
        "name": "Tello Control Dashboard",
        "icon": "fa-tachometer",
        "order": 2
    }
]
