flows/solutions/part5_solution.json
[{
    "id": "27df830d.d9460c",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Connect",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 440,
    "y": 680,
    "wires": [
        ["b1379db8.22c62"]
    ]
}, {
    "id": "b1379db8.22c62",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 700,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "649bba37.517954",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Connect",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 260,
    "y": 700,
    "wires": [
        ["b1379db8.22c62"]
    ]
}, {
    "id": "95f79b52.d49e1",
    "type": "udp out",
    "z": "b8545689.1f8f68",
    "name": "",
    "addr": "192.168.10.1",
    "iface": "",
    "port": "8889",
    "ipv": "udp4",
    "outport": "52955",
    "base64": false,
    "multicast": "false",
    "x": 730,
    "y": 380,
    "wires": []
}, {
    "id": "131a0f31.c1e859",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 340,
    "wires": []
}, {
    "id": "f4945f27.8d5f88",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "1 - Connect to TELLO-NNNNNN WiFi",
    "info": "",
    "x": 340,
    "y": 280,
    "wires": []
}, {
    "id": "8956866d.f9f758",
    "type": "link in",
    "z": "b8545689.1f8f68",
    "name": "TelloControls-In",
    "links": ["8078ad61.d181a"],
    "x": 235,
    "y": 360,
    "wires": [
        ["72537d31.2e2ac4"]
    ]
}, {
    "id": "a27b0ce5.7f35",
    "type": "udp in",
    "z": "b8545689.1f8f68",
    "name": "",
    "iface": "",
    "port": "52955",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 260,
    "y": 520,
    "wires": [
        ["e72d75df.3507e8"]
    ]
}, {
    "id": "e72d75df.3507e8",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 710,
    "y": 520,
    "wires": []
}, {
    "id": "66db4a02.3cac3c",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Receive Return Strings",
    "info": "",
    "x": 280,
    "y": 480,
    "wires": []
}, {
    "id": "21b042a7.791db6",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Send Commands",
    "info": "",
    "x": 300,
    "y": 320,
    "wires": []
}, {
    "id": "9821670d.7a5ec8",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Send Commands to drone ==========================",
    "info": "",
    "x": 520,
    "y": 240,
    "wires": []
}, {
    "id": "834bab26.2a9b28",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 520,
    "y": 440,
    "wires": []
}, {
    "id": "5e3ab8c9.bca4e8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Land",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 250,
    "y": 740,
    "wires": [
        ["d8fe3826.9e878"]
    ]
}, {
    "id": "60be03a.54e497c",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "TakeOff",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 250,
    "y": 780,
    "wires": [
        ["26588b3.ac68ff4"]
    ]
}, {
    "id": "c7ee397.4ab7948",
    "type": "delay",
    "z": "b8545689.1f8f68",
    "name": "",
    "pauseType": "delay",
    "timeout": "250",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 270,
    "y": 820,
    "wires": [
        ["2a7c254d.de0592"]
    ]
}, {
    "id": "2a7c254d.de0592",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "TakeOff",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "takeoff",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 820,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "26588b3.ac68ff4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 780,
    "wires": [
        ["c7ee397.4ab7948", "8078ad61.d181a"]
    ]
}, {
    "id": "d8fe3826.9e878",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Land",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "land",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 740,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "8078ad61.d181a",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "TelloControls-Out",
    "links": ["8956866d.f9f758"],
    "x": 855,
    "y": 1000,
    "wires": []
}, {
    "id": "a1af2b72.9bf57",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 520,
    "y": 640,
    "wires": []
}, {
    "id": "72537d31.2e2ac4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "format outbound message",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 360,
    "wires": [
        ["95f79b52.d49e1", "131a0f31.c1e859"]
    ]
}, {
    "id": "665dc859.12528",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Up 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "up",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 900,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "4c16a11d.4e4fa",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Right 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "right",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 980,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "10236f32.6baad9",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Forward 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "forward",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1060,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "55063f39.2b359",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Down 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "down",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 940,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "de3c8598.9aad58",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Left 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "left",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 1020,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "2407591c.561cee",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Back 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "back",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 1100,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "9194693a.e7a858",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "cw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1140,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "1b8d79d2.0603ce",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "ccw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "ccw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 1180,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "22e866da.2c5d5a",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Flip f",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "flip",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "f",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1260,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "1665114.4f224ef",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Up 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 260,
    "y": 900,
    "wires": [
        ["665dc859.12528"]
    ]
}, {
    "id": "52152c3c.948394",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Down 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 270,
    "y": 940,
    "wires": [
        ["55063f39.2b359"]
    ]
}, {
    "id": "2c5e0aa9.2eb42e",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Right 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 270,
    "y": 980,
    "wires": [
        ["4c16a11d.4e4fa"]
    ]
}, {
    "id": "f1cf4488.d73e58",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Left 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 260,
    "y": 1020,
    "wires": [
        ["de3c8598.9aad58"]
    ]
}, {
    "id": "3dda2da.1d68552",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Forward 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 280,
    "y": 1060,
    "wires": [
        ["10236f32.6baad9"]
    ]
}, {
    "id": "c504edfc.b73b08",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Back 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 270,
    "y": 1100,
    "wires": [
        ["2407591c.561cee"]
    ]
}, {
    "id": "b5d44f8c.ecdbf",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "cw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 250,
    "y": 1140,
    "wires": [
        ["9194693a.e7a858"]
    ]
}, {
    "id": "7c649e5e.961b28",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Full 360º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 260,
    "y": 1220,
    "wires": [
        ["2c396b65.7ecfa4"]
    ]
}, {
    "id": "7b24d0b9.70eac",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Flip forward",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 270,
    "y": 1260,
    "wires": [
        ["22e866da.2c5d5a"]
    ]
}, {
    "id": "38d93313.9b4ddc",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "ccw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 250,
    "y": 1180,
    "wires": [
        ["1b8d79d2.0603ce"]
    ]
}, {
    "id": "2c396b65.7ecfa4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "cw 360º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "360",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 1220,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "9835b5bc.3c2678",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Emergency",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "emergency",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 860,
    "wires": [
        ["8078ad61.d181a"]
    ]
}, {
    "id": "189cd9ed.4e628e",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Emergency",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 260,
    "y": 860,
    "wires": [
        ["9835b5bc.3c2678"]
    ]
}, {
    "id": "bfa6f01d.9e0f68",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Land",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "land",
    "payloadType": "str",
    "topic": "",
    "x": 430,
    "y": 720,
    "wires": [
        ["d8fe3826.9e878"]
    ]
}, {
    "id": "b03dfacc.ccc5f8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Takeoff",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 440,
    "y": 760,
    "wires": [
        ["26588b3.ac68ff4"]
    ]
}, {
    "id": "14824a3.9856636",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 17,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Up (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-up",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 450,
    "y": 880,
    "wires": [
        ["665dc859.12528"]
    ]
}, {
    "id": "d9e02a2e.96e758",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 18,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Down (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-down",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 450,
    "y": 920,
    "wires": [
        ["55063f39.2b359"]
    ]
}, {
    "id": "a68aba9c.10e5e",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 19,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Right (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-right",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 450,
    "y": 960,
    "wires": [
        ["4c16a11d.4e4fa"]
    ]
}, {
    "id": "35a4846d.4e2eb4",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 20,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Left (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 450,
    "y": 1000,
    "wires": [
        ["de3c8598.9aad58"]
    ]
}, {
    "id": "3d57713e.2f643e",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 21,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Forward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-forward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 460,
    "y": 1040,
    "wires": [
        ["10236f32.6baad9"]
    ]
}, {
    "id": "2c06c0d5.242c08",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 22,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Backward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-backward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 470,
    "y": 1080,
    "wires": [
        ["2407591c.561cee"]
    ]
}, {
    "id": "4cecc340.aec664",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 23,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 460,
    "y": 1120,
    "wires": [
        ["9194693a.e7a858"]
    ]
}, {
    "id": "12a8e368.bc8e75",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "Counter Clockwise",
    "group": "1eefcfb1.386918",
    "order": 24,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Anti-Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-undo",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 470,
    "y": 1160,
    "wires": [
        ["1b8d79d2.0603ce"]
    ]
}, {
    "id": "66216603.c1067",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 25,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Full Rotation (360º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 470,
    "y": 1200,
    "wires": [
        ["2c396b65.7ecfa4"]
    ]
}, {
    "id": "a8ac5c54.e33f58",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 26,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Flip (forward)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 460,
    "y": 1240,
    "wires": [
        ["22e866da.2c5d5a"]
    ]
}, {
    "id": "a9ff3aaa.2a975",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Emergency Stop",
    "color": "",
    "bgcolor": "red",
    "icon": "fa-stop-circle",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 470,
    "y": 840,
    "wires": [
        ["9835b5bc.3c2678"]
    ]
}, {
    "id": "2250be1f.6d9042",
    "type": "udp in",
    "z": "b8545689.1f8f68",
    "name": "",
    "iface": "",
    "port": "8890",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 260,
    "y": 600,
    "wires": [
        ["e0b83c1c.e097c"]
    ]
}, {
    "id": "932b2d05.43ff98",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 910,
    "y": 560,
    "wires": []
}, {
    "id": "e0b83c1c.e097c",
    "type": "delay",
    "z": "b8545689.1f8f68",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "2",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 430,
    "y": 600,
    "wires": [
        ["c9af2715.2e7a7"]
    ]
}, {
    "id": "c9af2715.2e7a7",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Parse Status into an object",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": " $filter($split($trim($string(payload)), ';'),function($v){$v != ''})\t   {$substringBefore($, ':') : \t        $contains($substringAfter($, ':'), \",\")\t        ? $map($split($substringAfter($, ':'),','),$number)\t        : $number($substringAfter($, ':'))}",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 600,
    "wires": [
        ["1d44ab1.d456dd5", "932b2d05.43ff98"]
    ]
}, {
    "id": "d6ff61fa.be8f18",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Open port 8890/udp in Firewall",
    "info": "Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.",
    "x": 310,
    "y": 560,
    "wires": []
}, {
    "id": "1d44ab1.d456dd5",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "STATUS-parsed",
    "links": ["bebb0fa2.9dc588", "4976283a.854a3"],
    "x": 855,
    "y": 600,
    "wires": []
}, {
    "id": "4976283a.854a3",
    "type": "link in",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["a96f756b.a69d18", "1d44ab1.d456dd5"],
    "x": 935,
    "y": 1000,
    "wires": [
        ["5eb5e9e4.e993c8", "6daa46b1.82c1d8", "eb837b36.cb873", "cce4f1ce.bba5f", "39958081.05023", "921040a4.eac38", "bdaa56d4.696ce", "e080d3a9.086d8", "9659024f.927268", "7d94b5bd.c079e4", "e051964.4429168"]
    ]
}, {
    "id": "5eb5e9e4.e993c8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "battery percentage",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.bat",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 780,
    "wires": [
        ["397f14ff.6ebcf4"]
    ]
}, {
    "id": "397f14ff.6ebcf4",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Battery",
    "label": "Battery",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 1300,
    "y": 780,
    "wires": []
}, {
    "id": "8cfd09e2.30545",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temp",
    "label": "Cº",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1290,
    "y": 860,
    "wires": []
}, {
    "id": "6daa46b1.82c1d8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "fly time",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.time",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 820,
    "wires": [
        ["4d9cae78.212768"]
    ]
}, {
    "id": "eb837b36.cb873",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Temperature",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temph",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 860,
    "wires": [
        ["8cfd09e2.30545"]
    ]
}, {
    "id": "a67d9cf6.f94d5",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "634de022.011bc8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel X",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1300,
    "y": 980,
    "wires": []
}, {
    "id": "eff7b3e2.602b5",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "634de022.011bc8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel Y",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1300,
    "y": 1020,
    "wires": []
}, {
    "id": "d0d2db15.05cbb",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "634de022.011bc8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel Z",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1300,
    "y": 1060,
    "wires": []
}, {
    "id": "d0615a9e.80b56",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed Y",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1300,
    "y": 1140,
    "wires": []
}, {
    "id": "953f39c9.46bbe8",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed Z",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1300,
    "y": 1180,
    "wires": []
}, {
    "id": "c6f3db9d.34b9f8",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed X",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1300,
    "y": 1100,
    "wires": []
}, {
    "id": "9659024f.927268",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Ground Speed X",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgx",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 1100,
    "wires": [
        ["c6f3db9d.34b9f8"]
    ]
}, {
    "id": "7d94b5bd.c079e4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Ground Speed y",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgy",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 1140,
    "wires": [
        ["d0615a9e.80b56"]
    ]
}, {
    "id": "e051964.4429168",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Ground Speed z",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgz",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 1180,
    "wires": [
        ["953f39c9.46bbe8"]
    ]
}, {
    "id": "cce4f1ce.bba5f",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Height",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.h",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 900,
    "wires": [
        ["5387aecc.9fdec"]
    ]
}, {
    "id": "921040a4.eac38",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Accel X",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agx",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 980,
    "wires": [
        ["a67d9cf6.f94d5"]
    ]
}, {
    "id": "bdaa56d4.696ce",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Accel Y",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agy",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 1020,
    "wires": [
        ["eff7b3e2.602b5"]
    ]
}, {
    "id": "e080d3a9.086d8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Accel Z",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agz",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 1060,
    "wires": [
        ["d0d2db15.05cbb"]
    ]
}, {
    "id": "732a5910.b8b098",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Barometer",
    "label": "millibars",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1310,
    "y": 940,
    "wires": []
}, {
    "id": "39958081.05023",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Barometer",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.baro",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 940,
    "wires": [
        ["732a5910.b8b098"]
    ]
}, {
    "id": "4d9cae78.212768",
    "type": "ui_text",
    "z": "b8545689.1f8f68",
    "group": "634de022.011bc8",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Flight Time:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1310,
    "y": 820,
    "wires": []
}, {
    "id": "5387aecc.9fdec",
    "type": "ui_chart",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Height",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "1000",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "useOldStyle": false,
    "x": 1290,
    "y": 900,
    "wires": [
        [],
        []
    ]
}, {
    "id": "1eefcfb1.386918",
    "type": "ui_group",
    "z": "",
    "name": "Control",
    "tab": "4f30c4f4.dd6eac",
    "order": 5,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "2b04f4d6.55fcf4",
    "type": "ui_group",
    "z": "",
    "name": "Stats",
    "tab": "4f30c4f4.dd6eac",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "634de022.011bc8",
    "type": "ui_group",
    "z": "",
    "name": "Accel",
    "tab": "4f30c4f4.dd6eac",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "bdc41bdd.470c8",
    "type": "ui_group",
    "z": "",
    "name": "Movement",
    "tab": "4f30c4f4.dd6eac",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "4f30c4f4.dd6eac",
    "type": "ui_tab",
    "z": "",
    "name": "Tello Drone",
    "icon": "fa-tachometer"
}]