flows/solutions/part5_solution.json
[{
    "id": "9dd2236e.7ced4",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Connect",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 300,
    "y": 480,
    "wires": [
        ["6fc479c5.8c061"]
    ]
}, {
    "id": "6fc479c5.8c061",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 500,
    "wires": [
        []
    ]
}, {
    "id": "7c5bbec6.ecfe38",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Connect",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 500,
    "wires": [
        ["6fc479c5.8c061"]
    ]
}, {
    "id": "c3f04e33.3710f8",
    "type": "udp out",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "addr": "192.168.10.1",
    "iface": "",
    "port": "8889",
    "ipv": "udp4",
    "outport": "52955",
    "base64": false,
    "multicast": "false",
    "x": 590,
    "y": 180,
    "wires": []
}, {
    "id": "58471670.22d6a",
    "type": "debug",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 550,
    "y": 140,
    "wires": []
}, {
    "id": "ca70c4b3.e4e9a8",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "1 - Connect to TELLO-NNNNNN WiFi",
    "info": "",
    "x": 200,
    "y": 80,
    "wires": []
}, {
    "id": "ab39e6fb.51983",
    "type": "link in",
    "z": "3f2fa13.a214e5e",
    "name": "TelloControls-In",
    "links": ["6a055d5.5df09a4"],
    "x": 95,
    "y": 160,
    "wires": [
        ["ba382634.b7445"]
    ]
}, {
    "id": "8d38ca04.edac88",
    "type": "udp in",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "iface": "",
    "port": "52955",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 120,
    "y": 320,
    "wires": [
        ["674a1b04.758b84"]
    ]
}, {
    "id": "674a1b04.758b84",
    "type": "debug",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 320,
    "wires": []
}, {
    "id": "d033c030.a1e5d8",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "Receive Return Strings",
    "info": "",
    "x": 140,
    "y": 280,
    "wires": []
}, {
    "id": "ebd0359a.672788",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "Send Commands",
    "info": "",
    "x": 160,
    "y": 120,
    "wires": []
}, {
    "id": "defd3a31.1d1e4",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "================================ Send Commands to drone ==========================",
    "info": "",
    "x": 380,
    "y": 40,
    "wires": []
}, {
    "id": "22aaf90e.a5d7f6",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 380,
    "y": 240,
    "wires": []
}, {
    "id": "20075ad1.1b3c1e",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Land",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 540,
    "wires": [
        ["4cb31ac0.0bf0a4"]
    ]
}, {
    "id": "762c93e6.65ebf4",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "TakeOff",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 580,
    "wires": [
        ["96f67ba0.c1c13"]
    ]
}, {
    "id": "ff1bf0aa.535ed",
    "type": "delay",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "pauseType": "delay",
    "timeout": "250",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 130,
    "y": 620,
    "wires": [
        ["3cb2941c.d2e524"]
    ]
}, {
    "id": "3cb2941c.d2e524",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "TakeOff",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "takeoff",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 620,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "96f67ba0.c1c13",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 580,
    "wires": [
        ["ff1bf0aa.535ed", "6a055d5.5df09a4"]
    ]
}, {
    "id": "4cb31ac0.0bf0a4",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Land",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "land",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 540,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "6a055d5.5df09a4",
    "type": "link out",
    "z": "3f2fa13.a214e5e",
    "name": "TelloControls-Out",
    "links": ["ab39e6fb.51983"],
    "x": 715,
    "y": 800,
    "wires": []
}, {
    "id": "a663d71b.71f548",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 380,
    "y": 440,
    "wires": []
}, {
    "id": "ba382634.b7445",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "format outbound message",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 160,
    "wires": [
        ["c3f04e33.3710f8", "58471670.22d6a"]
    ]
}, {
    "id": "a531d9f.c601228",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Up 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "up",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 700,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "28dfd7b5.ed762",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Right 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "right",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 780,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "f63b608f.03a3c",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Forward 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "forward",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 860,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "d5b05578.2a221",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Down 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "down",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 740,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "5a77e94c.f83dd",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Left 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "left",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 820,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "56c9fcf1.527d54",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Back 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "back",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 900,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "1729db4b.2bf8ad",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "cw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 940,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "d9d835bb.9e3338",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "ccw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "ccw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 980,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "756ec7ec.5a434",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Flip f",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "flip",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "f",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1060,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "b9a9b401.3b0d98",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Up 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 700,
    "wires": [
        ["a531d9f.c601228"]
    ]
}, {
    "id": "3978f279.ed87de",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Down 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 740,
    "wires": [
        ["d5b05578.2a221"]
    ]
}, {
    "id": "7f6820b7.e87298",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Right 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 780,
    "wires": [
        ["28dfd7b5.ed762"]
    ]
}, {
    "id": "93bcffe.cd22e8",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Left 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 820,
    "wires": [
        ["5a77e94c.f83dd"]
    ]
}, {
    "id": "2e2ad6ff.72b94a",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Forward 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 140,
    "y": 860,
    "wires": [
        ["f63b608f.03a3c"]
    ]
}, {
    "id": "dce89ac1.329b78",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Back 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 900,
    "wires": [
        ["56c9fcf1.527d54"]
    ]
}, {
    "id": "8700c1b0.9c39a",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "cw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 940,
    "wires": [
        ["1729db4b.2bf8ad"]
    ]
}, {
    "id": "4af1f131.964b28",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Full 360º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 1020,
    "wires": [
        ["c165a8e7.0e7b88"]
    ]
}, {
    "id": "96688695.235ae",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Flip forward",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 1060,
    "wires": [
        ["756ec7ec.5a434"]
    ]
}, {
    "id": "35606045.f0e308",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "ccw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 980,
    "wires": [
        ["d9d835bb.9e3338"]
    ]
}, {
    "id": "c165a8e7.0e7b88",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "cw 360º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "360",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1020,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "54f780c8.7e3d08",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Emergency",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "emergency",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 660,
    "wires": [
        ["6a055d5.5df09a4"]
    ]
}, {
    "id": "29ef4d7c.5b4002",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Emergency",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 660,
    "wires": [
        ["54f780c8.7e3d08"]
    ]
}, {
    "id": "325fb8ce.30866",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Land",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "land",
    "payloadType": "str",
    "topic": "",
    "x": 290,
    "y": 520,
    "wires": [
        ["4cb31ac0.0bf0a4"]
    ]
}, {
    "id": "8176b6f.c3cc348",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Takeoff",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 300,
    "y": 560,
    "wires": [
        ["96f67ba0.c1c13"]
    ]
}, {
    "id": "1db5d3c2.1ee44c",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 17,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Up (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-up",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 680,
    "wires": [
        ["a531d9f.c601228"]
    ]
}, {
    "id": "5db074e9.e7cbdc",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 18,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Down (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-down",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 720,
    "wires": [
        ["d5b05578.2a221"]
    ]
}, {
    "id": "188af8ed.147a17",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 19,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Right (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-right",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 760,
    "wires": [
        ["28dfd7b5.ed762"]
    ]
}, {
    "id": "27f1b283.a6ad06",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 20,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Left (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 800,
    "wires": [
        ["5a77e94c.f83dd"]
    ]
}, {
    "id": "946df905.b7ee98",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 21,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Forward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-forward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 320,
    "y": 840,
    "wires": [
        ["f63b608f.03a3c"]
    ]
}, {
    "id": "85388f87.b5732",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 22,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Backward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-backward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 880,
    "wires": [
        ["56c9fcf1.527d54"]
    ]
}, {
    "id": "659398f5.d433c8",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 23,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 320,
    "y": 920,
    "wires": [
        ["1729db4b.2bf8ad"]
    ]
}, {
    "id": "be6247c6.af5c78",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "Counter Clockwise",
    "group": "1eefcfb1.386918",
    "order": 24,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Anti-Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-undo",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 960,
    "wires": [
        ["d9d835bb.9e3338"]
    ]
}, {
    "id": "dd1b4ed5.587fb",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 25,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Full Rotation (360º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 1000,
    "wires": [
        ["c165a8e7.0e7b88"]
    ]
}, {
    "id": "ad66d5b1.caeca8",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 26,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Flip (forward)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 320,
    "y": 1040,
    "wires": [
        ["756ec7ec.5a434"]
    ]
}, {
    "id": "620d71a0.9b6c28",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Emergency Stop",
    "color": "",
    "bgcolor": "red",
    "icon": "fa-stop-circle",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 640,
    "wires": [
        ["54f780c8.7e3d08"]
    ]
}, {
    "id": "4e5205b1.a56a14",
    "type": "udp in",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "iface": "",
    "port": "8890",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 120,
    "y": 400,
    "wires": [
        ["988ab6cb.13a808"]
    ]
}, {
    "id": "662fd98b.bbbae",
    "type": "debug",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 770,
    "y": 360,
    "wires": []
}, {
    "id": "988ab6cb.13a808",
    "type": "delay",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "2",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 290,
    "y": 400,
    "wires": [
        ["7949b307.a33c4c"]
    ]
}, {
    "id": "7949b307.a33c4c",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Parse Status into an object",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": " $filter($split($trim($string(payload)), ';'), function($v){$v != ''}){$substringBefore($, ':') : $number($substringAfter($, ':'))}",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 400,
    "wires": [
        ["fe105ec.ffa492", "662fd98b.bbbae"]
    ]
}, {
    "id": "670b783.0958308",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "Open port 8890/udp in Firewall",
    "info": "Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.",
    "x": 170,
    "y": 360,
    "wires": []
}, {
    "id": "fe105ec.ffa492",
    "type": "link out",
    "z": "3f2fa13.a214e5e",
    "name": "STATUS-parsed",
    "links": ["bebb0fa2.9dc588", "5134a2d6.3fc78c"],
    "x": 715,
    "y": 400,
    "wires": []
}, {
    "id": "5134a2d6.3fc78c",
    "type": "link in",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "links": ["a96f756b.a69d18", "fe105ec.ffa492"],
    "x": 795,
    "y": 800,
    "wires": [
        ["28281b21.eb490c", "c0c25e97.445c78", "4e098d59.771bbc", "fe1dddad.52f188", "f9a95bb7.2c4c1", "d2d73c37.751dc8", "959286c1.c1237", "e685b783.f114f8", "88b1ffb5.71c64", "c3ffb8a8.4cf33", "bd2788e4.37b818"]
    ]
}, {
    "id": "28281b21.eb490c",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "battery percentage",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.bat",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 580,
    "wires": [
        ["4c9f25e0.d17344"]
    ]
}, {
    "id": "4c9f25e0.d17344",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Battery",
    "label": "Battery",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 1160,
    "y": 580,
    "wires": []
}, {
    "id": "b3862d81.71aa1",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temp",
    "label": "Cº",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1150,
    "y": 660,
    "wires": []
}, {
    "id": "c0c25e97.445c78",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "fly time",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.time",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 620,
    "wires": [
        ["488d0102.c301e"]
    ]
}, {
    "id": "4e098d59.771bbc",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Temperature",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temph",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 950,
    "y": 660,
    "wires": [
        ["b3862d81.71aa1"]
    ]
}, {
    "id": "da0b5bfc.8c9b",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "634de022.011bc8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel X",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1160,
    "y": 780,
    "wires": []
}, {
    "id": "d8b38201.b2e8a",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "634de022.011bc8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel Y",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1160,
    "y": 820,
    "wires": []
}, {
    "id": "346e1430.ac0be4",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "634de022.011bc8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel Z",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1160,
    "y": 860,
    "wires": []
}, {
    "id": "5a47574a.f2c668",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed Y",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1160,
    "y": 940,
    "wires": []
}, {
    "id": "b006ceb0.394c78",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed Z",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1160,
    "y": 980,
    "wires": []
}, {
    "id": "91a97869.734318",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed X",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1160,
    "y": 900,
    "wires": []
}, {
    "id": "88b1ffb5.71c64",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Ground Speed X",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgx",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 900,
    "wires": [
        ["91a97869.734318"]
    ]
}, {
    "id": "c3ffb8a8.4cf33",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Ground Speed y",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgy",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 940,
    "wires": [
        ["5a47574a.f2c668"]
    ]
}, {
    "id": "bd2788e4.37b818",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Ground Speed z",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgz",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 980,
    "wires": [
        ["b006ceb0.394c78"]
    ]
}, {
    "id": "fe1dddad.52f188",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Height",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.h",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 700,
    "wires": [
        ["7babe2bb.2b066c"]
    ]
}, {
    "id": "d2d73c37.751dc8",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Accel X",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agx",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 780,
    "wires": [
        ["da0b5bfc.8c9b"]
    ]
}, {
    "id": "959286c1.c1237",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Accel Y",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agy",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 820,
    "wires": [
        ["d8b38201.b2e8a"]
    ]
}, {
    "id": "e685b783.f114f8",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Accel Z",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agz",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 860,
    "wires": [
        ["346e1430.ac0be4"]
    ]
}, {
    "id": "1e8e28c3.c3e9a7",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Barometer",
    "label": "millibars",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1170,
    "y": 740,
    "wires": []
}, {
    "id": "f9a95bb7.2c4c1",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Barometer",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.baro",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 950,
    "y": 740,
    "wires": [
        ["1e8e28c3.c3e9a7"]
    ]
}, {
    "id": "488d0102.c301e",
    "type": "ui_text",
    "z": "3f2fa13.a214e5e",
    "group": "634de022.011bc8",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Flight Time:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1170,
    "y": 620,
    "wires": []
}, {
    "id": "7babe2bb.2b066c",
    "type": "ui_chart",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Height",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "1000",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "useOldStyle": false,
    "x": 1150,
    "y": 700,
    "wires": [
        [],
        []
    ]
}, {
    "id": "1eefcfb1.386918",
    "type": "ui_group",
    "z": "",
    "name": "Control",
    "tab": "4f30c4f4.dd6eac",
    "order": 4,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "2b04f4d6.55fcf4",
    "type": "ui_group",
    "z": "",
    "name": "Stats",
    "tab": "4f30c4f4.dd6eac",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "634de022.011bc8",
    "type": "ui_group",
    "z": "",
    "name": "Accel",
    "tab": "4f30c4f4.dd6eac",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "bdc41bdd.470c8",
    "type": "ui_group",
    "z": "",
    "name": "Movement",
    "tab": "4f30c4f4.dd6eac",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "4f30c4f4.dd6eac",
    "type": "ui_tab",
    "z": "",
    "name": "Tello Drone",
    "icon": "fa-tachometer"
}]