TOBEREMOVED/nodered-tello-controls.json
[
    {
        "id": "a072a174.a07318",
        "type": "tab",
        "label": "Tello Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb68f2c7.63cf5",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Init",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "command",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "661694ec.caab84",
                "34e43013.bc4b38",
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "f6a2364d.bac908",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "TakeOff",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "takeoff",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "661694ec.caab84",
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "108620de.169def",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Up 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "e9ae399.91724c8",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Right 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "af25dfd9.09f25",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Forward 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "7202ae05.e17e78",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Down 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "ae2f2dda.c5088",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Left 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "39cc6e40.f7bf8a",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Back 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "back",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "a70dedb4.c9442",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "cw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "e079685.6119718",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "ccw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "ccw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "9c773423.e86258",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Flip f",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "flip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "f",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "cdb0b8e2.9ecce",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "battery?",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "battery?",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tellorequestbattery",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "c2227156.48aa2",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Land",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "77bf63bb.fff2a4"
            ]
        ]
    },
    {
        "id": "630d40f4.cede3",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "TakeOff",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "eb68f2c7.63cf5"
            ]
        ]
    },
    {
        "id": "cb86e38b.546f5",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Up 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "108620de.169def"
            ]
        ]
    },
    {
        "id": "e3f98849.a126c8",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Down 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "7202ae05.e17e78"
            ]
        ]
    },
    {
        "id": "bf4727a0.be0108",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Right 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "e9ae399.91724c8"
            ]
        ]
    },
    {
        "id": "36d8f7e2.930fc",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Left 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "ae2f2dda.c5088"
            ]
        ]
    },
    {
        "id": "a82894de.14784",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Forward 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "af25dfd9.09f25"
            ]
        ]
    },
    {
        "id": "6b3b14ac.835f6c",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Back 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "39cc6e40.f7bf8a"
            ]
        ]
    },
    {
        "id": "328bddb2.f08af2",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "cw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "a70dedb4.c9442"
            ]
        ]
    },
    {
        "id": "9cb66ed3.d93ff8",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Full 360º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "9841e501.9d6cd8"
            ]
        ]
    },
    {
        "id": "811e97a7.d68e18",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Flip forward",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "9c773423.e86258"
            ]
        ]
    },
    {
        "id": "76c620f8.f98658",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "Battery?",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "cdb0b8e2.9ecce"
            ]
        ]
    },
    {
        "id": "3156f513.44061a",
        "type": "inject",
        "z": "a072a174.a07318",
        "name": "ccw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "e079685.6119718"
            ]
        ]
    },
    {
        "id": "34e43013.bc4b38",
        "type": "delay",
        "z": "a072a174.a07318",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "f6a2364d.bac908"
            ]
        ]
    },
    {
        "id": "9841e501.9d6cd8",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "cw 360º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 660,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "77bf63bb.fff2a4",
        "type": "change",
        "z": "a072a174.a07318",
        "name": "Land",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "land",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "d2e59cb6.21fb98"
            ]
        ]
    },
    {
        "id": "5eba69c0.fa37f8",
        "type": "udp out",
        "z": "a072a174.a07318",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "52955",
        "base64": false,
        "multicast": "false",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "e31dd730.d8883",
        "type": "debug",
        "z": "a072a174.a07318",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "661694ec.caab84",
        "type": "debug",
        "z": "a072a174.a07318",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "59e4f77c.3cf28",
        "type": "comment",
        "z": "a072a174.a07318",
        "name": "1 - Connect to TELLO-NNNNNN WiFi",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "90aa51a8.563c1",
        "type": "comment",
        "z": "a072a174.a07318",
        "name": "Status \"set\" commands",
        "info": "Send set command to Tello and wait for its response.\nPossible set commands:\n- speed?: get current speed (cm/s): x: 1-100\n- battery?: get current battery percentage: x: 0-100\n- time?: get current fly time (s): time\n- height?: get height (cm): x: 0-3000\n- temp?: get temperature (°C): x: 0-90\n- attitude?: get IMU attitude data: pitch roll yaw\n- baro?: get barometer value (m): x\n- tof?: get distance value from TOF (cm): x: 30-1000\n- wifi?: get Wi-Fi SNR: snr",
        "x": 220,
        "y": 740,
        "wires": []
    },
    {
        "id": "d2e59cb6.21fb98",
        "type": "link out",
        "z": "a072a174.a07318",
        "name": "TelloControls-Out",
        "links": [
            "4fc01edb.7887f"
        ],
        "x": 595,
        "y": 500,
        "wires": []
    },
    {
        "id": "9697aaa4.dabd28",
        "type": "function",
        "z": "a072a174.a07318",
        "name": "Send Individual Tello Command",
        "func": "var telloaction ;\n\nif((msg.payload.tellovalue) && (msg.payload.tellovalue != \"0\")) {\n  telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.tellovalue );\n} else {\n  telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "e31dd730.d8883",
                "5eba69c0.fa37f8"
            ]
        ]
    },
    {
        "id": "4fc01edb.7887f",
        "type": "link in",
        "z": "a072a174.a07318",
        "name": "TelloControls-In",
        "links": [
            "d2e59cb6.21fb98"
        ],
        "x": 95,
        "y": 120,
        "wires": [
            [
                "9697aaa4.dabd28"
            ]
        ]
    },
    {
        "id": "52522ad3.fca3dc",
        "type": "udp in",
        "z": "a072a174.a07318",
        "name": "",
        "iface": "",
        "port": "52955",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "bb62a0d0.d7c158",
                "b4ded02a.17cb7"
            ]
        ]
    },
    {
        "id": "b4ded02a.17cb7",
        "type": "debug",
        "z": "a072a174.a07318",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb62a0d0.d7c158",
        "type": "function",
        "z": "a072a174.a07318",
        "name": "parse incoming messages",
        "func": "var TELLO_CMD_ALT_LIMIT = 4182;\nvar TELLO_CMD_LIGHT_STRENGTH = 53;\nvar TELLO_CMD_LOW_BATT_THRESHOLD = 4183;\nvar TELLO_CMD_STATUS = 86;\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176;\nvar TELLO_CMD_LOG_DATA_WRITE = 4177;\nvar TELLO_CMD_LOG_CONFIGURATION = 4178;\nvar seqID ;\nvar pacType;\n\nfunction parsePacket (bb) {\n    //\tvar data = Buffer.from(msg);\n\tvar size = bb.length;\n\tvar payload = bb.slice(9,size);\n\tvar dataSize = 0;\n\tvar cmdID    = 0;\n\n\tif (bb.length >= 11) {\n\t\t\tvar mark = bb.readUInt8(0);\n\t\t\tif (mark == 0xCC) {\t// start of packet\n                size      = bb.readUInt16LE(1) >> 3;\n                var crc8  = bb.readUInt8(3);\n                pacType   = bb.readUInt8(4);\n                cmdID     = bb.readUInt16LE(5);\n                seqID     = bb.readUInt16LE(7);\n                dataSize  = size - 11;\n                var data  = false;\n                var crc16 = bb.readUInt16LE(size - 2);\n\t\t\t} \n\n\t\t\tif (cmdID == TELLO_CMD_STATUS) {\n                //\tthis.parseStatus(bb);\n            } else if (cmdID == TELLO_CMD_LOG_HEADER_WRITE) {\n                node.warn(\"TELLO_CMD_LOG_HEADER_WRITE \" + TELLO_CMD_LOG_HEADER_WRITE);\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_DATA_WRITE) {\n                // \n\t\t\t} else if (cmdID == TELLO_CMD_ALT_LIMIT) {    \n                node.warn(\"TELLO_CMD_ALT_LIMIT \"+TELLO_CMD_ALT_LIMIT);\n                if (payload.length > 0) \n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == TELLO_CMD_LIGHT_STRENGTH) {    \n                node.warn(\"TELLO_CMD_LIGHT_STRENGTH \"+TELLO_CMD_LIGHT_STRENGTH);\n                // if (payload.length > 0) \n                node.warn(payload.readUInt16LE(1));\n                // node.warn(payload)\n\t\t\t} else if (cmdID == TELLO_CMD_LOW_BATT_THRESHOLD) {    \n                node.warn(\"TELLO_CMD_LOW_BATT_THRESHOLD \"+TELLO_CMD_LOW_BATT_THRESHOLD);\n                if (payload.length > 0)\n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == 69 ) {    //VERSION\n                node.warn(\"TELLO_CMD_VERSION \"+cmdID);\n                node.warn(payload);\n                node.warn(payload.slice(1,20).toString());\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_CONFIGURATION) {    \n                node.warn(\"TELLO_CMD_LOG_CONFIGURATION command detected\");\n\t\t\t} else {\n                node.warn(\"DBG unknown CMD \"+ cmdID);\n\t\t\t}\n\t} else {\n        node.warn('wrong packet', bb);\n\t}\n\treturn cmdID;\n}\n\nif( msg.payload.toString() == \"ok\" ) {\n\tmsg.payload = \"ok\";\n\treturn msg;\n}\n\nvar batterystatus = global.get(\"tellorequestbattery\") || false;\nif ( batterystatus === true ) {\n    msg.payload = { \"battery\":msg.payload.toString().trim() };\n    global.set(\"tellorequestbattery\", false);    \n    return msg;\n}\n\nmsg.cmdID  = parsePacket(msg.payload);\nmsg.seqID  = seqID;\nmsg.pacType= pacType;\nglobal.set(\"tellomsg\",msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "7a44c1b5.f7f698"
            ]
        ]
    },
    {
        "id": "7a44c1b5.f7f698",
        "type": "debug",
        "z": "a072a174.a07318",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1270,
        "y": 120,
        "wires": []
    },
    {
        "id": "46f72dda.035844",
        "type": "comment",
        "z": "a072a174.a07318",
        "name": "Receive Return Strings",
        "info": "",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "71b94368.87f30c",
        "type": "comment",
        "z": "a072a174.a07318",
        "name": "Send Commands",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    }
]
