TOBEREMOVED/nodered-tello-telemetry.json
[
    {
        "id": "eb99d644.4c9a1",
        "type": "tab",
        "label": "Tello Telemetry",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4b7687ce.076858",
        "type": "udp in",
        "z": "eb99d644.4c9a1",
        "name": "",
        "iface": "",
        "port": "8890",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 220,
        "y": 900,
        "wires": [
            [
                "4a178e41.51c1b8"
            ]
        ]
    },
    {
        "id": "5ee54866.9c5f28",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "4a178e41.51c1b8",
        "type": "delay",
        "z": "eb99d644.4c9a1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "c457be1f.939b7",
                "844dd20.c9edfb"
            ]
        ]
    },
    {
        "id": "f6264fff.a80d68",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "Parse Status",
        "func": "// JSONata node performance is better than Function nodes\n// Don't use this function node.\n// Leave here for illustration on parsing the telemetry data\n\n// The telemetry data arrives from the drone as a single string:\n// pitch:0;roll:-1;yaw:0;vgx:0;vgy:0;vgz:0;templ:68;temph:69;tof:10;h:0;bat:90;baro:-39.22;time:0;agx:-3.00;agy:20.00;agz:-995.00;\n\n// Split the telemetry data into a json object that looks like this:\n// { pitch:0, roll:-1, yaw:0, vgx:0, vgy:0, vgz:0, templ:68, temph:69, tof:10, \n//   h:0, bat:90, baro:-39.22, time:0, agx:-3.00, agy:20.00, agz:-995.00 }\n\n// Use String functions to\n// convert the  pitch:0;roll:-1; to \"pitch\":0,\"roll\":-1,\"\n// replace all occurrences of ; with ,\"\n// replace all occurrences of : with \",\nvar state = msg.payload.toString();\n\nvar jsonstr = \"{\\\"\" + state.replace(/;/g, ',\"').replace(/:/g, '\":').slice(0,-4) + \"}\";\n// Now it looks like this:\n// \"{\"pitch\":0,\"roll\":-1,\"yaw\":0,\"vgx\":0,\"vgy\":0,\"vgz\":0,\"templ\":68,\"temph\":69,\"tof\":10,\"h\":0,\"bat\":90,\"baro\":-39.22,\"time\":0,\"agx\":-3.00,\"agy\":20.00,\"agz\":-995.00}\"\n\nmsg.payload = JSON.parse(jsonstr);\nreturn msg;\n\n// Everythiing below this line, works too but is much more complicated.\n\n// Split the string into an array of keypairs\nvar tellostate_array = msg.payload.split(';');\n// 17 string elements in the array [ \"pitch:0\",\"roll:-1\", ... ]\n\n// Maybe there are better techniques...\n// Build a stringified json object\nvar buildjson;\nfor( i=0; i < tellostate_array.length-1; i++) {\n    // split the pitch:0 into a key:keyvalue\n    var keypair = tellostate_array[i].split(\":\");\n    if( i === 0 ) {\n        buildjson = \"{\\\"\"+keypair[0]+\"\\\":\"+keypair[1]+\",\";\n    } else {\n        buildjson = buildjson+\"\\\"\"+keypair[0]+\"\\\":\"+keypair[1]+\",\";\n    }\n}\n// JSON.parse() does not allow trailing commas so strip the last one off\nbuildjson = buildjson.slice(0,-1) + \"}\";\n// Now it looks like this:\n// \"{\"pitch\":0,\"roll\":-1,\"yaw\":0,\"vgx\":0,\"vgy\":0,\"vgz\":0,\"templ\":68,\"temph\":69,\"tof\":10,\"h\":0,\"bat\":90,\"baro\":-39.22,\"time\":0,\"agx\":-3.00,\"agy\":20.00,\"agz\":-995.00}\"\nmsg.payload = JSON.parse(buildjson);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 980,
        "wires": [
            [
                "5ee54866.9c5f28"
            ]
        ]
    },
    {
        "id": "a85fce9b.efe538",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Sample",
        "topic": "",
        "payload": "pitch:0;roll:-1;yaw:0;vgx:0;vgy:0;vgz:0;templ:68;temph:69;tof:10;h:0;bat:90;baro:-39.22;time:0;agx:-3.00;agy:20.00;agz:-995.00;  ",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "f6264fff.a80d68",
                "844dd20.c9edfb"
            ]
        ]
    },
    {
        "id": "1deb8d29.6a2d93",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery",
        "label": "Battery",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "847ff50b.b6784",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "Fº",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1270,
        "y": 580,
        "wires": []
    },
    {
        "id": "685eaabb.39e694",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "battery percentage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "1deb8d29.6a2d93"
            ]
        ]
    },
    {
        "id": "a65ade14.6997a8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "fly time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 540,
        "wires": [
            [
                "b9cf60bc.1e05f"
            ]
        ]
    },
    {
        "id": "a7c383c4.69929",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temph",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "847ff50b.b6784"
            ]
        ]
    },
    {
        "id": "8374ab1.3ca6258",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Status field descriptions",
        "info": "pitch = the degree of the attitude pitch.\nroll = the degree of the attitude roll.\nyaw = the degree of the attitude yaw.\nvgx = the speed of “x” axis. \nvgy = the speed of the “y” axis.\nvgz = the speed of the “z” axis.\ntempl = the lowest temperature in degree Celsius.\ntemph = the highest temperature in degree Celsius\ntof = the time of flight distance in cm.\nh = the height in cm. \nbat = the percentage of the current battery level.\nbaro = the barometer measurement in cm.\ntime = the amount of time the motor has been used.\nagx = the acceleration of the “x” axis.\nagy = the acceleration of the “y” axis.\nagz = the acceleration of the “z” axis.",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "8047d1d.532ef3",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "3c254ec1.e2bac2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Accel X",
        "label": "cm/sec2",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 700,
        "wires": []
    },
    {
        "id": "32070efc.25fc72",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "3c254ec1.e2bac2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Accel Y",
        "label": "cm/sec2",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 740,
        "wires": []
    },
    {
        "id": "b8aad859.d39e88",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "3c254ec1.e2bac2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Accel Z",
        "label": "cm/sec2",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 780,
        "wires": []
    },
    {
        "id": "b49cdbe.dfd3ca8",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed Y",
        "label": "cm/sec",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 860,
        "wires": []
    },
    {
        "id": "24211edc.7758b2",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed Z",
        "label": "cm/sec",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 900,
        "wires": []
    },
    {
        "id": "fadbcefe.bd00e8",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed X",
        "label": "cm/sec",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1280,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb45e55f.07453",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Ground Speed X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vgx",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 820,
        "wires": [
            [
                "fadbcefe.bd00e8"
            ]
        ]
    },
    {
        "id": "324fccca.555944",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Ground Speed y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vgy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 860,
        "wires": [
            [
                "b49cdbe.dfd3ca8"
            ]
        ]
    },
    {
        "id": "f603831c.7e1ca",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Ground Speed z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vgz",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 900,
        "wires": [
            [
                "24211edc.7758b2"
            ]
        ]
    },
    {
        "id": "39a4c4ad.5a9d4c",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Height",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "c8823cd4.86a0b"
            ]
        ]
    },
    {
        "id": "14c79b00.6bd925",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Accel X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.agx",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 700,
        "wires": [
            [
                "8047d1d.532ef3"
            ]
        ]
    },
    {
        "id": "32249d46.fe41ea",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Accel Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.agy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 740,
        "wires": [
            [
                "32070efc.25fc72"
            ]
        ]
    },
    {
        "id": "9d32f3f8.c42d28",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Accel Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.agz",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 780,
        "wires": [
            [
                "b8aad859.d39e88"
            ]
        ]
    },
    {
        "id": "c457be1f.939b7",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "84b521a8.0c421",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Barometer",
        "label": "millibars",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "49cae7e9.43ec9",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Barometer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.baro",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "84b521a8.0c421"
            ]
        ]
    },
    {
        "id": "844dd20.c9edfb",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Parse Status into an object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $filter($split($trim($string(payload)), ';'), function($v){$v != ''}){$substringBefore($, ':') : $number($substringAfter($, ':'))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 900,
        "wires": [
            [
                "7efa03a8.cf113c",
                "685eaabb.39e694",
                "a65ade14.6997a8",
                "a7c383c4.69929",
                "39a4c4ad.5a9d4c",
                "49cae7e9.43ec9",
                "14c79b00.6bd925",
                "32249d46.fe41ea",
                "9d32f3f8.c42d28",
                "eb45e55f.07453",
                "324fccca.555944",
                "f603831c.7e1ca"
            ]
        ]
    },
    {
        "id": "7efa03a8.cf113c",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "92da25d3.eba61",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "30936548.fb16e2"
            ]
        ]
    },
    {
        "id": "6273cd3e.0589ac",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "land",
        "payloadType": "str",
        "topic": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "895b277a.567628"
            ]
        ]
    },
    {
        "id": "b6da2608.c8d978",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Connect",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "b43802cf.6337a8"
            ]
        ]
    },
    {
        "id": "ad7089a.7222af8",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Init",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "b43802cf.6337a8"
            ]
        ]
    },
    {
        "id": "b43802cf.6337a8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Init",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "command",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "30936548.fb16e2",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Init",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "command",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "9ea0507d.300938",
                "a386c277.c7419",
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "1748c9d0.862b1e",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "TakeOff",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "takeoff",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "9ea0507d.300938",
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "12852e9d.acc8e9",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Up 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "f4a3570b.123ea8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Right 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "702843de.46b6f4",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Forward 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "f46db5af.90bc8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Down 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "958a69e3.adeb68",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Left 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "7672f53b.435814",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Back 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "back",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "f44672c6.efbc58",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "cw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "1b18cf73.4a31e1",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "ccw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "ccw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "d31cef75.0d8cf8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Flip f",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "flip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "f",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 720,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "80f57575.b5b3f",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "battery?",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "battery?",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tellorequestbattery",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 800,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "f8e8826d.de767",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Land",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "895b277a.567628"
            ]
        ]
    },
    {
        "id": "b134e896.357268",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "TakeOff",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "30936548.fb16e2"
            ]
        ]
    },
    {
        "id": "e4005f8a.4515d",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Up 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "12852e9d.acc8e9"
            ]
        ]
    },
    {
        "id": "fc1fc45e.30577",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Down 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "f46db5af.90bc8"
            ]
        ]
    },
    {
        "id": "4cd2f028.d4dfc8",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Right 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "f4a3570b.123ea8"
            ]
        ]
    },
    {
        "id": "7fef9ad6.808d84",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Left 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "958a69e3.adeb68"
            ]
        ]
    },
    {
        "id": "1e30d1a5.9ffe06",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Forward 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "702843de.46b6f4"
            ]
        ]
    },
    {
        "id": "f2c1f1ee.454a1",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Back 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "7672f53b.435814"
            ]
        ]
    },
    {
        "id": "824a185.0635868",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "cw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "f44672c6.efbc58"
            ]
        ]
    },
    {
        "id": "e0fbd59.ea9e4a8",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Full 360º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "63a0d49a.ac6234"
            ]
        ]
    },
    {
        "id": "49e899ff.64a768",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Flip forward",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "d31cef75.0d8cf8"
            ]
        ]
    },
    {
        "id": "f2b84216.6c3b18",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Battery?",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220,
        "y": 800,
        "wires": [
            [
                "80f57575.b5b3f"
            ]
        ]
    },
    {
        "id": "ad18f4be.785dc",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "ccw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "1b18cf73.4a31e1"
            ]
        ]
    },
    {
        "id": "a386c277.c7419",
        "type": "delay",
        "z": "eb99d644.4c9a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "1748c9d0.862b1e"
            ]
        ]
    },
    {
        "id": "63a0d49a.ac6234",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "cw 360º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "895b277a.567628",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Land",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "land",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "c9e80d2.6196df"
            ]
        ]
    },
    {
        "id": "d588d1b8.20f53",
        "type": "udp out",
        "z": "eb99d644.4c9a1",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "52955",
        "base64": false,
        "multicast": "false",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef51687.b0dcd98",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ea0507d.300938",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "4f790bdc.fe33ec",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "1 - Connect to TELLO-NNNNNN WiFi",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2887e3c.3c059",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Status \"set\" commands",
        "info": "Send set command to Tello and wait for its response.\nPossible set commands:\n- speed?: get current speed (cm/s): x: 1-100\n- battery?: get current battery percentage: x: 0-100\n- time?: get current fly time (s): time\n- height?: get height (cm): x: 0-3000\n- temp?: get temperature (°C): x: 0-90\n- attitude?: get IMU attitude data: pitch roll yaw\n- baro?: get barometer value (m): x\n- tof?: get distance value from TOF (cm): x: 30-1000\n- wifi?: get Wi-Fi SNR: snr",
        "x": 260,
        "y": 760,
        "wires": []
    },
    {
        "id": "c9e80d2.6196df",
        "type": "link out",
        "z": "eb99d644.4c9a1",
        "name": "TelloControls-Out",
        "links": [
            "89436494.ecffd"
        ],
        "x": 695,
        "y": 520,
        "wires": []
    },
    {
        "id": "616102.8782ef",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "Send Individual Tello Command",
        "func": "var telloaction ;\n\nif((msg.payload.tellovalue) && (msg.payload.tellovalue != \"0\")) {\n  telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.tellovalue );\n} else {\n  telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "ef51687.b0dcd98",
                "d588d1b8.20f53"
            ]
        ]
    },
    {
        "id": "89436494.ecffd",
        "type": "link in",
        "z": "eb99d644.4c9a1",
        "name": "TelloControls-In",
        "links": [
            "c9e80d2.6196df"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "616102.8782ef"
            ]
        ]
    },
    {
        "id": "6078890.ce99f78",
        "type": "udp in",
        "z": "eb99d644.4c9a1",
        "name": "",
        "iface": "",
        "port": "52955",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 860,
        "y": 120,
        "wires": [
            [
                "476f2188.ab9728",
                "88f49f63.7c5108"
            ]
        ]
    },
    {
        "id": "476f2188.ab9728",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "88f49f63.7c5108",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "parse incoming messages",
        "func": "var TELLO_CMD_ALT_LIMIT = 4182;\nvar TELLO_CMD_LIGHT_STRENGTH = 53;\nvar TELLO_CMD_LOW_BATT_THRESHOLD = 4183;\nvar TELLO_CMD_STATUS = 86;\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176;\nvar TELLO_CMD_LOG_DATA_WRITE = 4177;\nvar TELLO_CMD_LOG_CONFIGURATION = 4178;\nvar seqID ;\nvar pacType;\n\nfunction parsePacket (bb) {\n    //\tvar data = Buffer.from(msg);\n\tvar size = bb.length;\n\tvar payload = bb.slice(9,size);\n\tvar dataSize = 0;\n\tvar cmdID    = 0;\n\n\tif (bb.length >= 11) {\n\t\t\tvar mark = bb.readUInt8(0);\n\t\t\tif (mark == 0xCC) {\t// start of packet\n                size      = bb.readUInt16LE(1) >> 3;\n                var crc8  = bb.readUInt8(3);\n                pacType   = bb.readUInt8(4);\n                cmdID     = bb.readUInt16LE(5);\n                seqID     = bb.readUInt16LE(7);\n                dataSize  = size - 11;\n                var data  = false;\n                var crc16 = bb.readUInt16LE(size - 2);\n\t\t\t} \n\n\t\t\tif (cmdID == TELLO_CMD_STATUS) {\n                //\tthis.parseStatus(bb);\n            } else if (cmdID == TELLO_CMD_LOG_HEADER_WRITE) {\n                node.warn(\"TELLO_CMD_LOG_HEADER_WRITE \" + TELLO_CMD_LOG_HEADER_WRITE);\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_DATA_WRITE) {\n                // \n\t\t\t} else if (cmdID == TELLO_CMD_ALT_LIMIT) {    \n                node.warn(\"TELLO_CMD_ALT_LIMIT \"+TELLO_CMD_ALT_LIMIT);\n                if (payload.length > 0) \n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == TELLO_CMD_LIGHT_STRENGTH) {    \n                node.warn(\"TELLO_CMD_LIGHT_STRENGTH \"+TELLO_CMD_LIGHT_STRENGTH);\n                // if (payload.length > 0) \n                node.warn(payload.readUInt16LE(1));\n                // node.warn(payload)\n\t\t\t} else if (cmdID == TELLO_CMD_LOW_BATT_THRESHOLD) {    \n                node.warn(\"TELLO_CMD_LOW_BATT_THRESHOLD \"+TELLO_CMD_LOW_BATT_THRESHOLD);\n                if (payload.length > 0)\n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == 69 ) {    //VERSION\n                node.warn(\"TELLO_CMD_VERSION \"+cmdID);\n                node.warn(payload);\n                node.warn(payload.slice(1,20).toString());\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_CONFIGURATION) {    \n                node.warn(\"TELLO_CMD_LOG_CONFIGURATION command detected\");\n\t\t\t} else {\n                node.warn(\"DBG unknown CMD \"+ cmdID);\n\t\t\t}\n\t} else {\n        node.warn('wrong packet', bb);\n\t}\n\treturn cmdID;\n}\n\nif( msg.payload.toString() == \"ok\" ) {\n\tmsg.payload = \"ok\";\n\treturn msg;\n}\n\nvar batterystatus = global.get(\"tellorequestbattery\") || false;\nif ( batterystatus === true ) {\n    msg.payload = { \"battery\":msg.payload.toString().trim() };\n    global.set(\"tellorequestbattery\", false);    \n    return msg;\n}\n\nmsg.cmdID  = parsePacket(msg.payload);\nmsg.seqID  = seqID;\nmsg.pacType= pacType;\nglobal.set(\"tellomsg\",msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 120,
        "wires": [
            [
                "8b80f93d.dd4ef"
            ]
        ]
    },
    {
        "id": "8b80f93d.dd4ef",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1310,
        "y": 120,
        "wires": []
    },
    {
        "id": "54f6d418.519a04",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Receive Return Strings",
        "info": "",
        "x": 900,
        "y": 80,
        "wires": []
    },
    {
        "id": "2a4336c2.120a7a",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Send Commands",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "7d38107a.3bd4c",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Open port 8890/udp in Firewall",
        "info": "Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.",
        "x": 270,
        "y": 860,
        "wires": []
    },
    {
        "id": "b9cf60bc.1e05f",
        "type": "ui_text",
        "z": "eb99d644.4c9a1",
        "group": "3c254ec1.e2bac2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flight Time:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1290,
        "y": 540,
        "wires": []
    },
    {
        "id": "c8823cd4.86a0b",
        "type": "ui_chart",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Height",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1270,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d9f1bc67.22ed38",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Node-RED Best Practices",
        "info": "JSONata node performance is better than Function nodes",
        "x": 630,
        "y": 940,
        "wires": []
    },
    {
        "id": "a91c4b42.4ac89",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Up (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-up",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "12852e9d.acc8e9"
            ]
        ]
    },
    {
        "id": "895bb84b.b641a",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Down (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-down",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "f46db5af.90bc8"
            ]
        ]
    },
    {
        "id": "83a0ed7d.fe413",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Right (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-right",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "f4a3570b.123ea8"
            ]
        ]
    },
    {
        "id": "210ca24d.ce2b66",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Left (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-arrow-left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "958a69e3.adeb68"
            ]
        ]
    },
    {
        "id": "dc8d4bbe.ccea28",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Forward (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-forward",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "702843de.46b6f4"
            ]
        ]
    },
    {
        "id": "e42c4c74.6d698",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Backward (50cm)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-backward",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "7672f53b.435814"
            ]
        ]
    },
    {
        "id": "b084d10d.df6b9",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clockwise (90º)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-repeat",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "f44672c6.efbc58"
            ]
        ]
    },
    {
        "id": "c533baf4.31bc88",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "Counter Clockwise",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Counter Clockwise (45º)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-undo",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 290,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ff87a506.ad4c3",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Full Rotation (360º)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-repeat",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "63a0d49a.ac6234"
            ]
        ]
    },
    {
        "id": "a37c6b14.c3e678",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip (forward)",
        "color": "",
        "bgcolor": "",
        "icon": "fa-repeat",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 280,
        "y": 700,
        "wires": [
            [
                "d31cef75.0d8cf8"
            ]
        ]
    },
    {
        "id": "c11cc3e3.74adc8",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "2d778ff4.c9c3c",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3c254ec1.e2bac2",
        "type": "ui_group",
        "z": "",
        "name": "Accel",
        "tab": "2d778ff4.c9c3c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aa89a9f5.d93408",
        "type": "ui_group",
        "z": "",
        "name": "Movement",
        "tab": "2d778ff4.c9c3c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cc4930b8.16c31",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "2d778ff4.c9c3c",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "2d778ff4.c9c3c",
        "type": "ui_tab",
        "z": "",
        "name": "Tello Telemetry",
        "icon": "fa-tachometer"
    }
]
