flows/nodered-tello-telemetry.json
[
    {
        "id": "eb99d644.4c9a1",
        "type": "tab",
        "label": "Tello Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c480d444.574f18",
        "type": "udp out",
        "z": "eb99d644.4c9a1",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "52955",
        "base64": false,
        "multicast": "false",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "51db3140.27a4a8",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Information on Tello",
        "info": "Connect to Tello-#WIFI#\nTello has the ip address 192.168.10.1\nand multipe udp ports for communication\nPort 8889 is for control flight command \nand status updates\nPort 6037 is the video port to get the video\n- Markus  - mvk@ca.ibm.com\nhttps://github.com/markusvankempen/\nPort 52955 i define in outgoing and incoming as\nthe receiving port ...\non 52955 the drone will send message back like status message",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "8d94cd33.7c8d5",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "connreq",
        "func": "//var message = new Buffer( 'conn_req:' );\n//msg.payload = message;\n//return msg;\n\nvar out = Buffer.alloc(11);\nout.write('conn_req:');\nmsg.payload = \tout\t;\t\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "c480d444.574f18"
            ]
        ]
    },
    {
        "id": "dde3e5f7.85b018",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Connection Request start here",
        "topic": "",
        "payload": "cw360",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "8d94cd33.7c8d5"
            ]
        ]
    },
    {
        "id": "6db67b3f.966324",
        "type": "udp in",
        "z": "eb99d644.4c9a1",
        "name": "",
        "iface": "",
        "port": "52955",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "810db5de.687858",
                "8e3c94c6.978ce8"
            ]
        ]
    },
    {
        "id": "8e3c94c6.978ce8",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 410,
        "y": 1180,
        "wires": []
    },
    {
        "id": "810db5de.687858",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "parse incoming messages",
        "func": "var TELLO_CMD_ALT_LIMIT = 4182;\nvar TELLO_CMD_LIGHT_STRENGTH = 53;\nvar TELLO_CMD_LOW_BATT_THRESHOLD = 4183;\nvar TELLO_CMD_STATUS = 86;\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176;\nvar TELLO_CMD_LOG_DATA_WRITE = 4177;\nvar TELLO_CMD_LOG_CONFIGURATION = 4178;\nvar seqID ;\nvar pacType;\n\nfunction parsePacket (bb) {\n    //\tvar data = Buffer.from(msg);\n\tvar size = bb.length;\n\tvar payload = bb.slice(9,size);\n\tvar dataSize = 0;\n\tvar cmdID    = 0;\n\n\tif (bb.length >= 11) {\n\t\tvar mark = bb.readUInt8(0);\n\t\tif (mark == 0xCC) {\t// start of packet\n\t\t    size      = bb.readUInt16LE(1) >> 3;\n\t\t    var crc8  = bb.readUInt8(3);\n\t\t    pacType   = bb.readUInt8(4);\n\t\t    cmdID     = bb.readUInt16LE(5);\n\t\t    seqID     = bb.readUInt16LE(7);\n\t        dataSize  = size - 11;\n\t        var data  = false;\n\t        var crc16 = bb.readUInt16LE(size - 2);\n\t\t} \n\t\n\t\tif (cmdID == TELLO_CMD_STATUS) {\n\t\t    //\tthis.parseStatus(bb);\n\t    } else if (cmdID == TELLO_CMD_LOG_HEADER_WRITE) {\n\t\t    node.warn(\"TELLO_CMD_LOG_HEADER_WRITE \" + TELLO_CMD_LOG_HEADER_WRITE)\n\t\t} else if (cmdID == TELLO_CMD_LOG_DATA_WRITE) {\n\t\t    // \n\t\t} else if (cmdID == TELLO_CMD_ALT_LIMIT) {    \n\t\t    node.warn(\"TELLO_CMD_ALT_LIMIT \"+TELLO_CMD_ALT_LIMIT)\n\t\t    if (payload.length > 0) \n\t\t        node.warn(payload.readUInt16LE(1))\n\t\t} else if (cmdID == TELLO_CMD_LIGHT_STRENGTH) {    \n\t\t    node.warn(\"TELLO_CMD_LIGHT_STRENGTH \"+TELLO_CMD_LIGHT_STRENGTH)\n\t\t    // if (payload.length > 0) \n\t\t    node.warn(payload.readUInt16LE(1))\n\t\t    // node.warn(payload)\n\t\t} else if (cmdID == TELLO_CMD_LOW_BATT_THRESHOLD) {    \n\t\t    node.warn(\"TELLO_CMD_LOW_BATT_THRESHOLD \"+TELLO_CMD_LOW_BATT_THRESHOLD)\n\t\t    if (payload.length > 0) \n\t\t\t        node.warn(payload.readUInt16LE(1))\n\t\t} else if (cmdID == 69 ) {    //VERSION\n\t\t\tnode.warn(\"TELLO_CMD_VERSION \"+cmdID)\n\t\t\tnode.warn(payload)\n\t\t\tnode.warn(payload.slice(1,20).toString());\n\t\t} else if (cmdID == TELLO_CMD_LOG_CONFIGURATION) {    \n\t\t    node.warn(\"TELLO_CMD_LOG_CONFIGURATION command detected\");\n\t\t} else {\n\t\t\tnode.warn(\"DBG unknown CMD \"+ cmdID);\n\t\t}\n\t} else {\n\t\tnode.warn('wrong packet', bb);\n\t}\n\treturn cmdID;\n}\n\t\nmsg.cmdID  = parsePacket(msg.payload);\nmsg.seqID  = seqID;\nmsg.pacType= pacType;\nglobal.set(\"tellomsg\",msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "9008fef1.280458",
                "102aac7.834aa54"
            ]
        ]
    },
    {
        "id": "9008fef1.280458",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 1180,
        "wires": []
    },
    {
        "id": "102aac7.834aa54",
        "type": "switch",
        "z": "eb99d644.4c9a1",
        "name": "Return Commands",
        "property": "cmdID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4176",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "86",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4177",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 750,
        "y": 1120,
        "wires": [
            [
                "fd0bda2c.6fe3e8"
            ],
            [
                "f369ca1b.7b53e"
            ],
            [
                "99348a9a.e420a"
            ],
            []
        ]
    },
    {
        "id": "f369ca1b.7b53e",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "Drone Status",
        "func": "var status   = {};\nstatus.speed = {};\nstatus.state = {};\nstatus.state.battery = {};\nstatus.state.em     = {};\nstatus.state.imu    = {};\nstatus.fly_time     = {};\nstatus.state.front  = {};\n\nfunction parseStatus(bb) {\n\t//flight data msg (https://github.com/hanyazou/TelloPy/blob/master/tellopy/_internal/protocol.py) 0x56\n\t// just skip first 9 bytes\n\tstatus.speed.vertical = bb.readInt16LE(9);\n\tstatus.speed.north = bb.readInt16LE(11);\n\tstatus.speed.east = bb.readInt16LE(13);\n\tstatus.speed.ground = bb.readInt16LE(15);\n\tstatus.fly_time.time = bb.readInt16LE(17);\n\n\tvar tmp = bb.readInt8(19);\n\tstatus.state.imu.state = (tmp >> 0) & 0x1;\n\tstatus.state.pressure = (tmp >> 1) & 0x1;\n\tstatus.state.down_visual = (tmp >> 2) & 0x1;\n\tstatus.state.power = (tmp >> 3) & 0x1;\n\tstatus.state.battery.state = (tmp >> 4) & 0x1;\n\tstatus.state.gravity = (tmp >> 5) & 0x1;\n\tstatus.state.wind = (tmp >> 7) & 0x1;\n\n\tstatus.state.imu.calibration = bb.readInt8(20);\n\tstatus.state.battery.percentage = bb.readInt8(21);\n\tstatus.state.battery.left = bb.readInt16LE(22);\n\tstatus.state.battery.voltage = bb.readInt16LE(24);\n\n    tmp = bb.readInt8(26);\n\tstatus.state.em.sky = (tmp >> 0) & 0x1;\n\tstatus.state.em.ground = (tmp >> 1) & 0x1;\n\tstatus.state.em.open = (tmp >> 2) & 0x1;\n\tstatus.state.drone_hover = (tmp >> 3) & 0x1;\n\tstatus.state.outage_recording = (tmp >> 4) & 0x1;\n\tstatus.state.battery.low = (tmp >> 5) & 0x1;\n\tstatus.state.battery.lower = (tmp >> 6) & 0x1;\n\tstatus.state.factory_mode = (tmp >> 7) & 0x1;\n\tstatus.state.fly_mode = bb.readInt8(27);\n\tstatus.state.throw_fly_timer = bb.readInt8(28);\n\tstatus.state.camera = bb.readInt8(29);\n\tstatus.state.em.state = bb.readInt8(30);\n\n\ttmp = bb.readInt8(31);\n\tstatus.state.front.in = (tmp >> 0) & 0x1;\n\tstatus.state.front.out = (tmp >> 1) & 0x1;\n\tstatus.state.front.lsc = (tmp >> 2) & 0x1;\n\tstatus.state.temperature_height = bb.readInt8(32);\n\t//console.log(\"state\", status);\n\treturn (status);\n}\n\t\nmsg.status = parseStatus( msg.payload );\nglobal.set(\"tellostatus\", status);\nreturn(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1040,
        "wires": [
            [
                "4587ec18.1681f4",
                "9b9edc5a.8b851",
                "a145a1f9.e046c8",
                "f3caa88.08e3558",
                "445797ed.fcfd5"
            ]
        ]
    },
    {
        "id": "4587ec18.1681f4",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "Status",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1230,
        "y": 940,
        "wires": []
    },
    {
        "id": "6693d994.b9c2f",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Display",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "8f3dfd08.44fc08"
            ]
        ]
    },
    {
        "id": "98c4e188.6d53c",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1350,
        "y": 140,
        "wires": []
    },
    {
        "id": "99348a9a.e420a",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "DroneLog",
        "func": "var status = global.get(\"tellostatus\");\n\nTYPE = {\n\t\tBYTE : 1,\n\t\tSHORT: 2,\n\t\tFLOAT: 3,\n\t};\nvar\tlog = {\n\t\t\tSEPARATOR: 85,\t\t// U symbol\n\t\t\t// Full log spec https://github.com/Kragrathea/TelloLib/blob/master/TelloLib/parsedRecSpecs.json\n\t\t\tLOGREC: {\n\t\t\t\t16: {\n\t\t\t\t\tNAME: \"USONIC\",\n\t\t\t\t\tlength: 4,\n\t\t\t\t\tfields: {\n\t\t\t\t\t\tH: {\n\t\t\t\t\t\t\toffset: 0,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tFLAG: {\n\t\t\t\t\t\t\toffset: 2,\n\t\t\t\t\t\t\ttype: TYPE.BYTE\n\t\t\t\t\t\t},\n\t\t\t\t\t\tCNT: {\n\t\t\t\t\t\t\toffset: 3,\n\t\t\t\t\t\t\ttype: TYPE.BYTE\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t29: {\n\t\t\t\t\tNAME: \"MVO\",\n\t\t\t\t\tlength: 80,\n\t\t\t\t\tfields: {\n\t\t\t\t\t\tVX: {\n\t\t\t\t\t\t\toffset: 2,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tVY: {\n\t\t\t\t\t\t\toffset: 4,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tVZ: {\n\t\t\t\t\t\t\toffset: 6,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPX: {\n\t\t\t\t\t\t\toffset: 8,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPY: {\n\t\t\t\t\t\t\toffset: 12,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPZ: {\n\t\t\t\t\t\t\toffset: 16,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tHEIGHT: {\n\t\t\t\t\t\t\toffset: 68,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t2048: {\n\t\t\t\t\tNAME: \"IMU\",\n\t\t\t\t\tlength: 120,\n\t\t\t\t\tpostprocess: {\n\t\t\t\t\t\tANGLE: {\n\t\t\t\t\t\t\tfunc: false,\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\tfields: {\n\t\t\t\t\t\tACC_X: {\n\t\t\t\t\t\t\toffset: 20,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tACC_Y: {\n\t\t\t\t\t\t\toffset: 24,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tACC_Z: {\n\t\t\t\t\t\t\toffset: 28,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tGYRO_X: {\n\t\t\t\t\t\t\toffset: 32,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tGYRO_Y: {\n\t\t\t\t\t\t\toffset: 36,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tGYRO_Z: {\n\t\t\t\t\t\t\toffset: 40,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPRESS: {\n\t\t\t\t\t\t\toffset: 44,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_W: {\n\t\t\t\t\t\t\toffset: 48,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_X: {\n\t\t\t\t\t\t\toffset: 52,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_Y: {\n\t\t\t\t\t\t\toffset: 56,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_Z: {\n\t\t\t\t\t\t\toffset: 60,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tag_x: {\n\t\t\t\t\t\t\toffset: 64,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tag_y: {\n\t\t\t\t\t\t\toffset: 68,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tag_z: {\n\t\t\t\t\t\t\toffset: 72,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tvg_x: {\n\t\t\t\t\t\t\toffset: 76,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tvg_y: {\n\t\t\t\t\t\t\toffset: 80,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tvg_z: {\n\t\t\t\t\t\t\toffset: 84,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tgb_x: {\n\t\t\t\t\t\t\toffset: 88,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tgb_y: {\n\t\t\t\t\t\t\toffset: 92,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tgb_z: {\n\t\t\t\t\t\t\toffset: 96,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tm_x: {\n\t\t\t\t\t\t\toffset: 100,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tm_y: {\n\t\t\t\t\t\t\toffset: 102,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tm_z: {\n\t\t\t\t\t\t\toffset: 104,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\ttemp_x: {\n\t\t\t\t\t\t\toffset: 106,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\ttemp_y: {\n\t\t\t\t\t\t\toffset: 108,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\ttemp_z: {\n\t\t\t\t\t\t\toffset: 110,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t}\n\t\t}\n\nfunction parseLog(bb) {\n    size =  bb.readUInt16LE(1) >> 3;\n\t// https://github.com/Kragrathea/TelloLib/blob/master/TelloLib/TelloLog.cs\n\t// https://github.com/SMerrony/tello/blob/master/flog.go\n\tvar logPosition = 0;\n\tvar logFieldName = \"\";\n\tvar logObject = false;\n\twhile (logPosition < (size-2)) {\n\t\tif (bb.readUInt8(logPosition) != log.SEPARATOR) {\n\t\t\tlogPosition++;\n\t\t\tcontinue;\n\t\t}\n\t\tvar len = bb.readUInt8(logPosition + 1);\n\t\tif (bb.readUInt8(logPosition + 2) !== 0) {\n\t\t\tlogPosition++;\n\t\t\tbreak;\n\t\t}\n\t\tvar recSpecId = bb.readUInt16LE(logPosition + 4);\n\t\tvar xorBuf = Buffer.alloc(256);\n\t\tvar xorValue = bb[logPosition + 6];\n\t\tif (typeof log.LOGREC[recSpecId] != 'undefined') {\n\t\t\t//node.warn(\"DBG found:\", log.LOGREC[recSpecId].NAME);\n\t\t\tfor (var i = 0; i < len; i++) {\t// Decrypt payload\n\t\t\t\txorBuf[i] = (bb[logPosition + i] ^ xorValue);\n\t\t\t}\n\t\t\tvar baseOffset = 10;\n\t\t\tfor (var i in log.LOGREC[recSpecId].fields) { \n\t\t\t    if (typeof log.LOGREC[recSpecId].fields[i] == 'object') {\n    \t\t\t\tlogObject = log.LOGREC[recSpecId].fields[i];\n    \t\t\t\tlogFieldName = log.LOGREC[recSpecId].NAME+\"_\"+i;\n    \t\t\t\tstatus[logFieldName] = 0\n    \t\t\t\tswitch (logObject.type) {\n  \t\t\t\t\t\tcase TYPE.FLOAT:\n\t\t\t\t\t\t\tstatus[logFieldName] = xorBuf.readFloatLE(baseOffset + logObject.offset);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase TYPE.SHORT:\n\t\t\t\t\t\t\tstatus[logFieldName] = xorBuf.readInt16LE(baseOffset + logObject.offset);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase TYPE.BYTE:\n\t\t\t\t\t\t\tstatus[logFieldName] = xorBuf[baseOffset + logObject.offset];\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tdefault:\n\t\t\t\t\t\t    node.warn(\"DBG\", \"unknown type\", logObject.type);\n\t\t\t\t\t}\n    \t\t\t}\n\t\t\t}\n\t\t\tif (typeof log.LOGREC[recSpecId].postprocess == 'object') {\n\t\t\t\tfor (var i in log.LOGREC[recSpecId].postprocess) {\n\t\t\t\t\tif (typeof log.LOGREC[recSpecId].postprocess[i].func == 'function') {\n\t\t\t\t\t\tlog.LOGREC[recSpecId].postprocess[i].func();\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t\t//console.log(\"STATUS:\", status);\n\t\t//\tsendLog();\n\t\t} else {\n\t\t\t//console.log(\"DBG\", \"unknown log type\", recSpecId, \"datasize = \", dataSize);\n\t\t}\n\tlogPosition += len;\n\t}\n}\n\nparseLog(msg.payload);\n\nmsg.log = log;\nmsg.status = status;\nglobal.set(\"tellostatus\",status);\nglobal.set(\"tellostatusnew\",status);\nglobal.set(\"tellolog\",log);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "d0516e3d.b5187",
                "9b9edc5a.8b851",
                "a145a1f9.e046c8",
                "445797ed.fcfd5",
                "d2ff3044.24d8f8",
                "96df48ba.d5e47",
                "c229961c.df5b48",
                "14b161dd.ad33fe",
                "76fd8db8.86e1b4",
                "ff9619bd.7faef",
                "49b3fcbb.fc3184"
            ]
        ]
    },
    {
        "id": "4ee4c22a.8519dc",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery",
        "label": "Battery",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1450,
        "y": 980,
        "wires": []
    },
    {
        "id": "613b6166.d120d8",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GroundSpeed",
        "label": "GroundSpeed",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1470,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b916248b.de1a48",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "Commands",
        "info": "\t\tcommands: {\n\t\t\tTELLO_CMD_CONN: 1,\n\t\t\tTELLO_CMD_CONN_ACK: 2,\n\t\t\tTELLO_CMD_SSID: 17,\n\t\t\tTELLO_CMD_SET_SSID: 18,\n\t\t\tTELLO_CMD_SSID_PASS: 19,\n\t\t\tTELLO_CMD_SET_SSID_PASS: 20,\n\t\t\tTELLO_CMD_REGION: 21,\n\t\t\tTELLO_CMD_SET_REGION: 22,\n\t\t\tTELLO_CMD_REQ_VIDEO_SPS_PPS: 37,\n\t\t\tTELLO_CMD_TAKE_PICTURE: 48,\n\t\t\tTELLO_CMD_SWITCH_PICTURE_VIDEO: 49,\n\t\t\tTELLO_CMD_START_RECORDING: 50,\n\t\t\tTELLO_CMD_SET_EV: 52,\n\t\t\tTELLO_CMD_DATE_TIME: 70,\n\t\t\tTELLO_CMD_STICK: 80,\n\t\t\tTELLO_CMD_LOG_HEADER_WRITE: 4176,\n\t\t\tTELLO_CMD_LOG_DATA_WRITE: 4177,\n\t\t\tTELLO_CMD_LOG_CONFIGURATION: 4178,\n\t\t\tTELLO_CMD_WIFI_SIGNAL: 26,\n\t\t\tTELLO_CMD_VIDEO_BIT_RATE: 40,\n\t\t\tTELLO_CMD_LIGHT_STRENGTH: 53,\n\t\t\tTELLO_CMD_VERSION_STRING: 69,\n\t\t\tTELLO_CMD_ACTIVATION_TIME: 71,\n\t\t\tTELLO_CMD_LOADER_VERSION: 73,\n\t\t\tTELLO_CMD_STATUS: 86,\n\t\t\tTELLO_CMD_ALT_LIMIT: 4182,\n\t\t\tTELLO_CMD_LOW_BATT_THRESHOLD: 4183,\n\t\t\tTELLO_CMD_ATT_ANGLE: 4185,\n\t\t\tTELLO_CMD_SET_JPEG_QUALITY: 55,\n\t\t\tTELLO_CMD_TAKEOFF: 84,\n\t\t\tTELLO_CMD_LANDING: 85,\n\t\t\tTELLO_CMD_SET_ALT_LIMIT: 88,\n\t\t\tTELLO_CMD_FLIP: 92,\n\t\t\tTELLO_CMD_THROW_FLY: 93,\n\t\t\tTELLO_CMD_PALM_LANDING: 94,\n\t\t\tTELLO_CMD_PLANE_CALIBRATION: 4180,\n\t\t\tTELLO_CMD_SET_LOW_BATTERY_THRESHOLD: 4181,\n\t\t\tTELLO_CMD_SET_ATTITUDE_ANGLE: 4184,\n\t\t\tTELLO_CMD_ERROR1: 67,\n\t\t\tTELLO_CMD_ERROR2: 68,\n\t\t\tTELLO_CMD_FILE_SIZE: 98,\n\t\t\tTELLO_CMD_FILE_DATA: 99,\n\t\t\tTELLO_CMD_FILE_COMPLETE: 100,\n\t\t\tTELLO_CMD_HANDLE_IMU_ANGLE: 90,\n\t\t\tTELLO_CMD_SET_VIDEO_BIT_RATE: 32,\n\t\t\tTELLO_CMD_SET_DYN_ADJ_RATE: 33,\n\t\t\tTELLO_CMD_SET_EIS: 36,\n\t\t\tTELLO_CMD_SMART_VIDEO_START: 128,\n\t\t\tTELLO_CMD_SMART_VIDEO_STATUS: 129,\n\t\t\tTELLO_CMD_BOUNCE: 4179\n\t\t},",
        "x": 980,
        "y": 1160,
        "wires": []
    },
    {
        "id": "dfe5c8b8.bc50c",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FlyTime",
        "label": "FlyTime",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1460,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fd0bda2c.6fe3e8",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "LOG_HEADER",
        "func": "/*\n else if (cmdID == this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE) {\t// log header, we need request log\n\t\t\t\t\tvar payload = Buffer.alloc(3);\n\t\t\t\t\t\tpayload[1]=bb[9];\n\t\t\t\t\t\tpayload[2]=bb[10];\n\t\t\t\t\tthis._sendCmd(0x50, this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE, payload, 3);\n\t\t\t\t\t\n*/\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176\nvar TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t]\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t]\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x3692\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++\n\t\t\tsize--\n\t\t};\n\t\treturn seed\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x77\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data, data_len) {\n\t\tvar size = 11 + (data_len?data_len:(data?data.length:0));\n\t\tvar bb = Buffer.alloc(size)\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt16LE(size << 3,1)\n\t\tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(pacType,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data && !data_len) {\n\t\t\tbb.write(data,9)\n\t\t} else if (data) {\n\t\t\tfor (var i=0; i<data_len; i++) {\n\t\t\t\tbb[9 + i] = data[i];\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2)\n\t\treturn bb\n\t}\n\t\nvar payload = Buffer.alloc(3);\npayload[1]=msg.payload[9];\npayload[2]=msg.payload[10];\nout = buildPacket(0x50, TELLO_CMD_LOG_HEADER_WRITE, msg.seqID, payload, 3);\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 940,
        "wires": [
            [
                "c18b9697.18954",
                "c480d444.574f18"
            ]
        ]
    },
    {
        "id": "c18b9697.18954",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1230,
        "y": 880,
        "wires": []
    },
    {
        "id": "b0dc3411.c617a",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "3c254ec1.e2bac2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "IMU.ACC_X",
        "label": "IMU.ACC_X",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1470,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8aa3141c.44d48",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "3c254ec1.e2bac2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "IMU.ACC_Y",
        "label": "IMU.ACC_Y",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1470,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3715c0ec.49c018",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "3c254ec1.e2bac2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "IMU.ACC_Z",
        "label": "IMU.ACC_Z",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1470,
        "y": 1260,
        "wires": []
    },
    {
        "id": "46edef33.f90de",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MVO_PY",
        "label": "MVO_PY",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1460,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8ec58de2.b2acb8",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MVO_PZ",
        "label": "MVO_PZ",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1460,
        "y": 1380,
        "wires": []
    },
    {
        "id": "55c3fa0b.62490c",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Display",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 970,
        "y": 180,
        "wires": [
            [
                "94aa69ce.28bc08"
            ]
        ]
    },
    {
        "id": "3c0340bc.6a1c18",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "af493bfc.bbf738",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "c11cc3e3.74adc8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "State",
        "label": "State",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1450,
        "y": 1100,
        "wires": []
    },
    {
        "id": "26d5b8d5.a9daf",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MVO_PX",
        "label": "MVO_PX",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1460,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c992607.49ef32",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "TELLO_CMD_ALT_LIMIT",
        "func": "/*\n else if (cmdID == this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE) {\t// log header, we need request log\n\t\t\t\t\tvar payload = Buffer.alloc(3);\n\t\t\t\t\t\tpayload[1]=bb[9];\n\t\t\t\t\t\tpayload[2]=bb[10];\n\t\t\t\t\tthis._sendCmd(0x50, this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE, payload, 3);\n\t\t\t\t\t\n*/\nvar TELLO_CMD_ALT_LIMIT = 4182\nvar TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t]\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t]\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x3692\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x77\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data, data_len) {\n\t\tvar size = 11 + (data_len?data_len:(data?data.length:0));\n\t\tvar bb = Buffer.alloc(size)\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt16LE(size << 3,1)\n\t\tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(pacType,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data && !data_len) {\n\t\t\tbb.write(data,9)\n\t\t} else if (data) {\n\t\t\tfor (var i=0; i<data_len; i++) {\n\t\t\t\tbb[9 + i] = data[i];\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2);\n\t\treturn bb;\n\t}\n\t\nvar payload = Buffer.alloc(3);\npayload[1]=msg.payload[9];\npayload[2]=msg.payload[10];\ntstatus = global.get(\"tellomsg\");\nout = buildPacket(0x50, TELLO_CMD_ALT_LIMIT, tstatus.seqID, false);\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "c480d444.574f18"
            ]
        ]
    },
    {
        "id": "54c7e8b1.0b3538",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "DirrectComandALT",
        "topic": "",
        "payload": "cw30",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "c992607.49ef32"
            ]
        ]
    },
    {
        "id": "4c9c3548.f9cb2c",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Display",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 970,
        "y": 100,
        "wires": [
            [
                "4c0664e.5aa599c"
            ]
        ]
    },
    {
        "id": "d2f312df.04951",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1350,
        "y": 100,
        "wires": []
    },
    {
        "id": "566e1af0.58737c",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "DirrectComandLOW_BATT",
        "topic": "",
        "payload": "4183",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "b6531fb7.6821b8"
            ]
        ]
    },
    {
        "id": "b6531fb7.6821b8",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "CMD from Inject",
        "func": "/*\n else if (cmdID == this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE) {\t// log header, we need request log\n\t\t\t\t\tvar payload = Buffer.alloc(3);\n\t\t\t\t\t\tpayload[1]=bb[9];\n\t\t\t\t\t\tpayload[2]=bb[10];\n\t\t\t\t\tthis._sendCmd(0x50, this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE, payload, 3);\n\t\t\t\t\t\n*/\nvar TELLO_CMD_ALT_LIMIT = 4182;\nvar TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t];\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t];\n\t\t\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x3692\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++ ;\n\t\t\tsize-- ;\n\t\t}\n\t\treturn seed;\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x77\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++ ;\n\t\t\tsize-- ;\n\t\t}\n\t\treturn seed;\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data, data_len) {\n\t\tvar size = 11 + (data_len?data_len:(data?data.length:0));\n\t\tvar bb = Buffer.alloc(size)\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt16LE(size << 3,1)\n\t\tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(pacType,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data && !data_len) {\n\t\t\tbb.write(data,9)\n\t\t} else if (data) {\n\t\t\tfor (var i=0; i<data_len; i++) {\n\t\t\t\tbb[9 + i] = data[i];\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2)\n\t\treturn bb\n\t}\n\t\nvar payload = Buffer.alloc(3);\npayload[1]=msg.payload[9];\npayload[2]=msg.payload[10];\ntstatus = global.get(\"tellomsg\")\nout = buildPacket(0x48, msg.payload, tstatus.seqID, false);\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 900,
        "wires": [
            [
                "c480d444.574f18"
            ]
        ]
    },
    {
        "id": "f553a2e1.c6b2e8",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "ALTLimit",
        "topic": "",
        "payload": "4182",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 240,
        "y": 880,
        "wires": [
            [
                "b6531fb7.6821b8"
            ]
        ]
    },
    {
        "id": "a0da73b3.a1e928",
        "type": "comment",
        "z": "eb99d644.4c9a1",
        "name": "<<<< click this once u connected",
        "info": "",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "d0516e3d.b5187",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "log",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1230,
        "y": 1140,
        "wires": []
    },
    {
        "id": "50657794.f0e3d8",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Date Time",
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 920,
        "wires": [
            [
                "b6531fb7.6821b8"
            ]
        ]
    },
    {
        "id": "62c4d4ca.21159c",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Version",
        "topic": "",
        "payload": "69",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 250,
        "y": 960,
        "wires": [
            [
                "b6531fb7.6821b8"
            ]
        ]
    },
    {
        "id": "83e88b41.3c21b8",
        "type": "ui_gauge",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "aa89a9f5.d93408",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Height",
        "label": "Height",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1450,
        "y": 1420,
        "wires": []
    },
    {
        "id": "92da25d3.eba61",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "66a7e407.22f92c",
                "dbf890f2.96b5f8"
            ]
        ]
    },
    {
        "id": "6273cd3e.0589ac",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "land",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "6131521f.4dc414"
            ]
        ]
    },
    {
        "id": "b6da2608.c8d978",
        "type": "ui_button",
        "z": "eb99d644.4c9a1",
        "name": "",
        "group": "cc4930b8.16c31",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Connect",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "8d94cd33.7c8d5"
            ]
        ]
    },
    {
        "id": "a8f253f9.363d48",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Status",
        "topic": "",
        "payload": "86",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "ee5409c0.949d78"
            ]
        ]
    },
    {
        "id": "ee5409c0.949d78",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "CMD from Inject",
        "func": "/*\n else if (cmdID == this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE) {\t// log header, we need request log\n\t\t\t\t\tvar payload = Buffer.alloc(3);\n\t\t\t\t\t\tpayload[1]=bb[9];\n\t\t\t\t\t\tpayload[2]=bb[10];\n\t\t\t\t\tthis._sendCmd(0x50, this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE, payload, 3);\n\t\t\t\t\t\n*/\nvar TELLO_CMD_ALT_LIMIT = 4182\nvar TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t]\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t]\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x3692\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x77\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data, data_len) {\n\t\tvar size = 11 + (data_len?data_len:(data?data.length:0));\n\t\tvar bb = Buffer.alloc(size)\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt16LE(size << 3,1)\n\t\tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(pacType,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data && !data_len) {\n\t\t\tbb.write(data,9)\n\t\t} else if (data) {\n\t\t\tfor (var i=0; i<data_len; i++) {\n\t\t\t\tbb[9 + i] = data[i];\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2)\n\t\treturn bb\n\t}\n\t\nvar payload = Buffer.alloc(3);\npayload[1]=msg.payload[9];\npayload[2]=msg.payload[10];\ntstatus = global.get(\"tellomsg\")\nout = buildPacket(0x60, msg.payload, 0, false);\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "c480d444.574f18"
            ]
        ]
    },
    {
        "id": "9b9edc5a.8b851",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "battery percentage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.state.battery.percentage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 980,
        "wires": [
            [
                "4ee4c22a.8519dc"
            ]
        ]
    },
    {
        "id": "a145a1f9.e046c8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "ground speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.state.ground.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "613b6166.d120d8"
            ]
        ]
    },
    {
        "id": "f3caa88.08e3558",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "fly time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.state.fly_time.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1060,
        "wires": [
            [
                "dfe5c8b8.bc50c"
            ]
        ]
    },
    {
        "id": "445797ed.fcfd5",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "em state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.state.em.state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1100,
        "wires": [
            [
                "af493bfc.bbf738"
            ]
        ]
    },
    {
        "id": "d2ff3044.24d8f8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "MVO_PX",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.MVO_PX",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1300,
        "wires": [
            [
                "26d5b8d5.a9daf"
            ]
        ]
    },
    {
        "id": "49b3fcbb.fc3184",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "MVO_PY",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.MVO_PY",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1340,
        "wires": [
            [
                "46edef33.f90de"
            ]
        ]
    },
    {
        "id": "96df48ba.d5e47",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "MVO_PZ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.MVO_PZ",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1380,
        "wires": [
            [
                "8ec58de2.b2acb8"
            ]
        ]
    },
    {
        "id": "c229961c.df5b48",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "MVO_HEIGHT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.MVO_HEIGHT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1420,
        "wires": [
            [
                "83e88b41.3c21b8",
                "1d12cec3.43c889"
            ]
        ]
    },
    {
        "id": "14b161dd.ad33fe",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "IMU_ACC_X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.IMU_ACC_X",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1180,
        "wires": [
            [
                "b0dc3411.c617a"
            ]
        ]
    },
    {
        "id": "76fd8db8.86e1b4",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "IMU_ACC_Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.IMU_ACC_Y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1220,
        "wires": [
            [
                "8aa3141c.44d48"
            ]
        ]
    },
    {
        "id": "ff9619bd.7faef",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "IMU_ACC_Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.IMU_ACC_Z",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1260,
        "wires": [
            [
                "3715c0ec.49c018"
            ]
        ]
    },
    {
        "id": "4c0664e.5aa599c",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "tellomsg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tellomsg",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 100,
        "wires": [
            [
                "d2f312df.04951"
            ]
        ]
    },
    {
        "id": "8f3dfd08.44fc08",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "tellostatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tellostatus",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 140,
        "wires": [
            [
                "98c4e188.6d53c"
            ]
        ]
    },
    {
        "id": "94aa69ce.28bc08",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "tellolog",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tellolog",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "3c0340bc.6a1c18"
            ]
        ]
    },
    {
        "id": "1d12cec3.43c889",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "Height",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1450,
        "y": 1460,
        "wires": []
    },
    {
        "id": "dbf890f2.96b5f8",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Init",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "command",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "55177192.9229c",
                "e5857b58.e5c6a"
            ]
        ]
    },
    {
        "id": "55177192.9229c",
        "type": "function",
        "z": "eb99d644.4c9a1",
        "name": "Send Individual Tello Commands",
        "func": "var telloaction ;\n\nif( msg.payload.distance != \"0\") {\n   telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.distance );\n} else {\n   telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "c480d444.574f18"
            ]
        ]
    },
    {
        "id": "f7d45e1.7a169a",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "TakeOff",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "takeoff",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "55177192.9229c",
                "e5857b58.e5c6a"
            ]
        ]
    },
    {
        "id": "f2063def.e88778",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "Up 60",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "d1aca775.3de15",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "right 30",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "e784f19a.88cb38",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "forward 60",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "5692e3de.99393c",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "down 60",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "bf040a2b.1d785",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "left 30",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "f96f8ad9.566bf",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "back 60",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "back",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "33087f28.341788",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "cw 90",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "e7a55a9a.b0b1a",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "ccw 90",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "ccw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 620,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "51c9b55f.4ef7dc",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "flip",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "flip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "f",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "fb8dafc0.417b4",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "battery?",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "battery",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 740,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "f6cd5fd1.9b5e3",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "land",
        "topic": "",
        "payload": "land",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "6131521f.4dc414"
            ]
        ]
    },
    {
        "id": "1af9b1eb.8eea8e",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "takeoff",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "dbf890f2.96b5f8",
                "66a7e407.22f92c"
            ]
        ]
    },
    {
        "id": "fe554cfe.fa56d",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "up60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "f2063def.e88778"
            ]
        ]
    },
    {
        "id": "e9c13026.8bd23",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "down60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "5692e3de.99393c"
            ]
        ]
    },
    {
        "id": "6bb9614c.b1def",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "right30",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "d1aca775.3de15"
            ]
        ]
    },
    {
        "id": "94925354.9eb858",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "left30",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "bf040a2b.1d785"
            ]
        ]
    },
    {
        "id": "7e0edb1e.e74a14",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "forward60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "e784f19a.88cb38"
            ]
        ]
    },
    {
        "id": "3fd013ca.d10964",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "back60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "f96f8ad9.566bf"
            ]
        ]
    },
    {
        "id": "3224ab85.c8a63c",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "cw30",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "33087f28.341788"
            ]
        ]
    },
    {
        "id": "cbfd79af.6ba51",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Full360",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "c337cf8e.ed4fa"
            ]
        ]
    },
    {
        "id": "5c996898.8c221",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "flipforward",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "51c9b55f.4ef7dc"
            ]
        ]
    },
    {
        "id": "7725aba6.f75e7c",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "Battery?",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "fb8dafc0.417b4"
            ]
        ]
    },
    {
        "id": "c7540a48.c2acc",
        "type": "inject",
        "z": "eb99d644.4c9a1",
        "name": "ccw30",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "e7a55a9a.b0b1a"
            ]
        ]
    },
    {
        "id": "66a7e407.22f92c",
        "type": "delay",
        "z": "eb99d644.4c9a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "f7d45e1.7a169a"
            ]
        ]
    },
    {
        "id": "c337cf8e.ed4fa",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "cw 360",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 660,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "6131521f.4dc414",
        "type": "change",
        "z": "eb99d644.4c9a1",
        "name": "land",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "land",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.distance",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "55177192.9229c"
            ]
        ]
    },
    {
        "id": "e5857b58.e5c6a",
        "type": "debug",
        "z": "eb99d644.4c9a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "c11cc3e3.74adc8",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "2d778ff4.c9c3c",
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "3c254ec1.e2bac2",
        "type": "ui_group",
        "z": "",
        "name": "Accel",
        "tab": "2d778ff4.c9c3c",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "aa89a9f5.d93408",
        "type": "ui_group",
        "z": "",
        "name": "MVO Data",
        "tab": "2d778ff4.c9c3c",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "cc4930b8.16c31",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "2d778ff4.c9c3c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d778ff4.c9c3c",
        "type": "ui_tab",
        "z": "",
        "name": "Tello Drone",
        "icon": "dashboard"
    }
]
