flows/starter/part4_starter.json
[
    {
        "id": "93117b9d.ff2d88",
        "type": "tab",
        "label": "Tello Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f023812.2bd6e",
        "type": "udp out",
        "z": "93117b9d.ff2d88",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "52955",
        "base64": false,
        "multicast": "false",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f4d98a2.d07de8",
        "type": "debug",
        "z": "93117b9d.ff2d88",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "3bf004a0.61da3c",
        "type": "comment",
        "z": "93117b9d.ff2d88",
        "name": "1 - Connect to TELLO-NNNNNN WiFi",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "fe23826b.8ceb28",
        "type": "link in",
        "z": "93117b9d.ff2d88",
        "name": "TelloControls-In",
        "links": [
            "799058c7.aecc28"
        ],
        "x": 95,
        "y": 160,
        "wires": [
            [
                "d51deb36.00702"
            ]
        ]
    },
    {
        "id": "7107ad43.8fbe84",
        "type": "udp in",
        "z": "93117b9d.ff2d88",
        "name": "",
        "iface": "",
        "port": "52955",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "5e8333ec.d4773c"
            ]
        ]
    },
    {
        "id": "5e8333ec.d4773c",
        "type": "debug",
        "z": "93117b9d.ff2d88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "91896f1d.ebec3",
        "type": "comment",
        "z": "93117b9d.ff2d88",
        "name": "Receive Return Strings",
        "info": "The UDP input node listens for return values",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "39433bd3.bc3f9c",
        "type": "comment",
        "z": "93117b9d.ff2d88",
        "name": "================================ Send Commands to drone ==========================",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "3c178793.166e58",
        "type": "comment",
        "z": "93117b9d.ff2d88",
        "name": "================================ Handle incoming messages =========================",
        "info": "",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "ee4d8d4d.293538",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Land",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "c74aeaeb.484ad"
            ]
        ]
    },
    {
        "id": "ff2aee20.7531e8",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "TakeOff",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "5e69e6db.c6b498"
            ]
        ]
    },
    {
        "id": "7a1560f1.0164d8",
        "type": "delay",
        "z": "93117b9d.ff2d88",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "4e1e9a8f.0b4efc"
            ]
        ]
    },
    {
        "id": "4e1e9a8f.0b4efc",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "TakeOff",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "takeoff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "5e69e6db.c6b498",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Init",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "command",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "7a1560f1.0164d8",
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "c74aeaeb.484ad",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Land",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "land",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "799058c7.aecc28",
        "type": "link out",
        "z": "93117b9d.ff2d88",
        "name": "TelloControls-Out",
        "links": [
            "fe23826b.8ceb28"
        ],
        "x": 715,
        "y": 720,
        "wires": []
    },
    {
        "id": "d51deb36.00702",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "format outbound message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "2f023812.2bd6e",
                "6f4d98a2.d07de8"
            ]
        ]
    },
    {
        "id": "8689758.5cda788",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Up 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "97d13df8.0978",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Right 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 680,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "652ddcc7.dbb8ac",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Forward 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "ca17a1ce.70741",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Down 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "736008f1.250ab8",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Left 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 720,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "e22d11ad.46de2",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Back 50cm",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "back",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "f7721bed.f59298",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "cw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "f37996f1.9be3e",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "ccw 90º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "ccw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 880,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "67ed70.f20a729",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Flip f",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "flip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "f",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "91f3bae9.3af4f8",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Up 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "8689758.5cda788"
            ]
        ]
    },
    {
        "id": "c83e9cd5.249a28",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Down 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "ca17a1ce.70741"
            ]
        ]
    },
    {
        "id": "bbceaac6.bc97f",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Right 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "97d13df8.0978"
            ]
        ]
    },
    {
        "id": "7fa7d0c6.5c8128",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Left 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "736008f1.250ab8"
            ]
        ]
    },
    {
        "id": "552e6e58.115498",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Forward 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "652ddcc7.dbb8ac"
            ]
        ]
    },
    {
        "id": "39d4f2ee.3854be",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Back 50cm",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "e22d11ad.46de2"
            ]
        ]
    },
    {
        "id": "31476b10.e36b6c",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "cw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "f7721bed.f59298"
            ]
        ]
    },
    {
        "id": "6baf7c51.2a124c",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Full 360º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "146547c7.dfa85"
            ]
        ]
    },
    {
        "id": "8f691e92.1ad3f",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Flip forward",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "67ed70.f20a729"
            ]
        ]
    },
    {
        "id": "594c12a4.735bd4",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "ccw 90º",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "f37996f1.9be3e"
            ]
        ]
    },
    {
        "id": "146547c7.dfa85",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "cw 360º",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "cw",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.tellovalue",
                "pt": "msg",
                "to": "360",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 920,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "cff9d8d.c558fa8",
        "type": "change",
        "z": "93117b9d.ff2d88",
        "name": "Emergency",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.tellocmd",
                "pt": "msg",
                "to": "emergency",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "799058c7.aecc28"
            ]
        ]
    },
    {
        "id": "dcca42be.f9f568",
        "type": "inject",
        "z": "93117b9d.ff2d88",
        "name": "Emergency",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "cff9d8d.c558fa8"
            ]
        ]
    },
    {
        "id": "15fdf85a.a98c2",
        "type": "ui_button",
        "z": "93117b9d.ff2d88",
        "name": "",
        "group": "3fb6ada5.67360a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "land",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "c74aeaeb.484ad"
            ]
        ]
    },
    {
        "id": "d8f17b1f.9d8638",
        "type": "ui_button",
        "z": "93117b9d.ff2d88",
        "name": "",
        "group": "3fb6ada5.67360a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "5e69e6db.c6b498"
            ]
        ]
    },
    {
        "id": "6d096aae.053e0c",
        "type": "comment",
        "z": "93117b9d.ff2d88",
        "name": "Send Commands",
        "info": "This section of the flow formats the Tello command\ninto a single string to be sent to the drone.\n\nFormat is [command] [optional values]\n\nFor a list of Tello SDK commands, visit\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "44bb768d.49ccd",
        "type": "comment",
        "z": "93117b9d.ff2d88",
        "name": "================================ Send Tello SDK Commands =========================",
        "info": "For a list of Tello SDK commands, visit\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "3fb6ada5.67360a",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "b7c1800f.7c22b",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "b7c1800f.7c22b",
        "type": "ui_tab",
        "z": "",
        "name": "Tello Control Dashboard",
        "icon": "fa-tachometer",
        "order": 1
    }
]
