flows/starter/part6_starter.json
[{
    "id": "811d01c4.5382b",
    "type": "subflow",
    "name": "Tello-Flip",
    "info": "# Tello Flip\n\nThis node will send a command to flip the drone.  The direction to flip is passed in as the **payload**\n\n## Inputs\n\n- payload : The direction to flip.  Valid values are **l**, **r**, **f**, **b** (which represent left, right, forward or back)\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 280,
        "y": 260,
        "wires": [{
            "id": "51f245b4.9222a4"
        }]
    }],
    "out": [{
        "x": 700,
        "y": 220,
        "wires": [{
            "id": "969c7593.57f658",
            "port": 0
        }]
    }, {
        "x": 700,
        "y": 300,
        "wires": [{
            "id": "969c7593.57f658",
            "port": 1
        }]
    }]
}, {
    "id": "51f245b4.9222a4",
    "type": "change",
    "z": "811d01c4.5382b",
    "name": "Flip",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"flip\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 260,
    "wires": [
        ["969c7593.57f658"]
    ]
}, {
    "id": "969c7593.57f658",
    "type": "subflow:b3d9de98.a393a8",
    "z": "811d01c4.5382b",
    "name": "",
    "x": 570,
    "y": 260,
    "wires": [
        [],
        []
    ]
}, {
    "id": "fd727e43.4cd72",
    "type": "subflow",
    "name": "Tello-Anti-clockwise",
    "info": "# Tello Anti-clockwise\n\nThis node will send a command to rotate the drone anti-clockwise.  The angle to rotate is passed in as the **payload**\n\n## Inputs\n\n- payload : The angle to rotate anti-clockwise in degrees.  Valid range is 1-360\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 360,
        "y": 280,
        "wires": [{
            "id": "b8ad64c8.d14b98"
        }]
    }],
    "out": [{
        "x": 760,
        "y": 240,
        "wires": [{
            "id": "590f9493.51237c",
            "port": 0
        }]
    }, {
        "x": 760,
        "y": 320,
        "wires": [{
            "id": "590f9493.51237c",
            "port": 1
        }]
    }]
}, {
    "id": "b8ad64c8.d14b98",
    "type": "change",
    "z": "fd727e43.4cd72",
    "name": "ccw",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"ccw\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 280,
    "wires": [
        ["590f9493.51237c"]
    ]
}, {
    "id": "590f9493.51237c",
    "type": "subflow:b3d9de98.a393a8",
    "z": "fd727e43.4cd72",
    "name": "",
    "x": 630,
    "y": 280,
    "wires": [
        [],
        []
    ]
}, {
    "id": "34affb68.3b19dc",
    "type": "subflow",
    "name": "Tello-Clockwise",
    "info": "# Tello Clockwise\n\nThis node will send a command to rotate the drone clockwise.  The angle to rotate is passed in as the **payload**\n\n## Inputs\n\n- payload : The angle to rotate clockwise in degrees.  Valid range is 1-360\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 240,
        "y": 260,
        "wires": [{
            "id": "5df95d1a.3a4cd4"
        }]
    }],
    "out": [{
        "x": 680,
        "y": 220,
        "wires": [{
            "id": "6597ba03.db20f4",
            "port": 0
        }]
    }, {
        "x": 680,
        "y": 300,
        "wires": [{
            "id": "6597ba03.db20f4",
            "port": 1
        }]
    }]
}, {
    "id": "5df95d1a.3a4cd4",
    "type": "change",
    "z": "34affb68.3b19dc",
    "name": "Clockwise",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"cw\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 260,
    "wires": [
        ["6597ba03.db20f4"]
    ]
}, {
    "id": "6597ba03.db20f4",
    "type": "subflow:b3d9de98.a393a8",
    "z": "34affb68.3b19dc",
    "name": "",
    "x": 550,
    "y": 260,
    "wires": [
        [],
        []
    ]
}, {
    "id": "d550fb8b.0d17c8",
    "type": "subflow",
    "name": "Tello-Back",
    "info": "# Tello Back\n\nThis node will send a command to move the drone back.  The distance to move is passed in as the **payload**\n\n## Inputs\n\n- payload : The distance to move back in cm.  Valid range is 20-500\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 500,
        "y": 860,
        "wires": [{
            "id": "83dfbcc3.21872"
        }]
    }],
    "out": [{
        "x": 920,
        "y": 820,
        "wires": [{
            "id": "193d1096.12943f",
            "port": 0
        }]
    }, {
        "x": 920,
        "y": 900,
        "wires": [{
            "id": "193d1096.12943f",
            "port": 1
        }]
    }]
}, {
    "id": "83dfbcc3.21872",
    "type": "change",
    "z": "d550fb8b.0d17c8",
    "name": "Back",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"back\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 860,
    "wires": [
        ["193d1096.12943f"]
    ]
}, {
    "id": "193d1096.12943f",
    "type": "subflow:b3d9de98.a393a8",
    "z": "d550fb8b.0d17c8",
    "name": "",
    "x": 790,
    "y": 860,
    "wires": [
        [],
        []
    ]
}, {
    "id": "905f0b7a.2a33b8",
    "type": "subflow",
    "name": "Tello-Forward",
    "info": "# Tello Forward\n\nThis node will send a command to move the drone forward.  The distance to move is passed in as the **payload**\n\n## Inputs\n\n- payload : The distance to move forward in cm.  Valid range is 20-500\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 260,
        "y": 280,
        "wires": [{
            "id": "1d575158.1732f7"
        }]
    }],
    "out": [{
        "x": 700,
        "y": 240,
        "wires": [{
            "id": "a4a8ce6d.25acf8",
            "port": 0
        }]
    }, {
        "x": 700,
        "y": 320,
        "wires": [{
            "id": "a4a8ce6d.25acf8",
            "port": 1
        }]
    }]
}, {
    "id": "1d575158.1732f7",
    "type": "change",
    "z": "905f0b7a.2a33b8",
    "name": "Forward",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"forward\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 280,
    "wires": [
        ["a4a8ce6d.25acf8"]
    ]
}, {
    "id": "a4a8ce6d.25acf8",
    "type": "subflow:b3d9de98.a393a8",
    "z": "905f0b7a.2a33b8",
    "name": "",
    "x": 570,
    "y": 280,
    "wires": [
        [],
        []
    ]
}, {
    "id": "e8011a2d.52a308",
    "type": "subflow",
    "name": "Tello-Left",
    "info": "# Tello Left\n\nThis node will send a command to move the drone left.  The distance to move is passed in as the **payload**\n\n## Inputs\n\n- payload : The distance to move left in cm.  Valid range is 20-500\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 500,
        "y": 780,
        "wires": [{
            "id": "5a955422.dc57bc"
        }]
    }],
    "out": [{
        "x": 920,
        "y": 740,
        "wires": [{
            "id": "6fb22c45.0f5304",
            "port": 0
        }]
    }, {
        "x": 920,
        "y": 820,
        "wires": [{
            "id": "6fb22c45.0f5304",
            "port": 1
        }]
    }]
}, {
    "id": "5a955422.dc57bc",
    "type": "change",
    "z": "e8011a2d.52a308",
    "name": "Left",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"left\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 780,
    "wires": [
        ["6fb22c45.0f5304"]
    ]
}, {
    "id": "6fb22c45.0f5304",
    "type": "subflow:b3d9de98.a393a8",
    "z": "e8011a2d.52a308",
    "name": "",
    "x": 790,
    "y": 780,
    "wires": [
        [],
        []
    ]
}, {
    "id": "2c810068.ab3e8",
    "type": "subflow",
    "name": "Tello-Right",
    "info": "# Tello Right\n\nThis node will send a command to move the drone right.  The distance to move is passed in as the **payload**\n\n## Inputs\n\n- payload : The distance to move right in cm.  Valid range is 20-500\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 500,
        "y": 740,
        "wires": [{
            "id": "26933fda.d3af98"
        }]
    }],
    "out": [{
        "x": 920,
        "y": 700,
        "wires": [{
            "id": "c9cb1a2c.a17c48",
            "port": 0
        }]
    }, {
        "x": 920,
        "y": 780,
        "wires": [{
            "id": "c9cb1a2c.a17c48",
            "port": 1
        }]
    }]
}, {
    "id": "26933fda.d3af98",
    "type": "change",
    "z": "2c810068.ab3e8",
    "name": "Right",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"right\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 740,
    "wires": [
        ["c9cb1a2c.a17c48"]
    ]
}, {
    "id": "c9cb1a2c.a17c48",
    "type": "subflow:b3d9de98.a393a8",
    "z": "2c810068.ab3e8",
    "name": "",
    "x": 790,
    "y": 740,
    "wires": [
        [],
        []
    ]
}, {
    "id": "572d51d4.bca538",
    "type": "subflow",
    "name": "Tello-Down",
    "info": "# Tello Up\n\nThis node will send a command to move the drone down.  The distance to move is passed in as the **payload**\n\n## Inputs\n\n- payload : The distance to move down in cm.  Valid range is 20-500\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 500,
        "y": 700,
        "wires": [{
            "id": "b62a6acc.06af7"
        }]
    }],
    "out": [{
        "x": 920,
        "y": 660,
        "wires": [{
            "id": "4bd61c65.55593c",
            "port": 0
        }]
    }, {
        "x": 920,
        "y": 740,
        "wires": [{
            "id": "4bd61c65.55593c",
            "port": 1
        }]
    }]
}, {
    "id": "b62a6acc.06af7",
    "type": "change",
    "z": "572d51d4.bca538",
    "name": "Down",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" :  \"down\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 700,
    "wires": [
        ["4bd61c65.55593c"]
    ]
}, {
    "id": "4bd61c65.55593c",
    "type": "subflow:b3d9de98.a393a8",
    "z": "572d51d4.bca538",
    "name": "",
    "x": 790,
    "y": 700,
    "wires": [
        [],
        []
    ]
}, {
    "id": "ecc2e6c8.b10828",
    "type": "subflow",
    "name": "Tello-Up",
    "info": "# Tello Up\n\nThis node will send a command to move the drone up.  The distance to move is passed in as the **payload**\n\n## Inputs\n\n- payload : The distance to move up in cm.  Valid range is 20-500\n\n## Outputs\n\nThis node will return the cmd input parameters with the additional properties\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 500,
        "y": 660,
        "wires": [{
            "id": "473657d2.abd1f8"
        }]
    }],
    "out": [{
        "x": 920,
        "y": 620,
        "wires": [{
            "id": "a9b39e96.76869",
            "port": 0
        }]
    }, {
        "x": 920,
        "y": 700,
        "wires": [{
            "id": "a9b39e96.76869",
            "port": 1
        }]
    }]
}, {
    "id": "473657d2.abd1f8",
    "type": "change",
    "z": "ecc2e6c8.b10828",
    "name": "Up",
    "rules": [{
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"tellocmd\" : \"up\" }",
        "tot": "json"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "tmp",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 610,
    "y": 660,
    "wires": [
        ["a9b39e96.76869"]
    ]
}, {
    "id": "a9b39e96.76869",
    "type": "subflow:b3d9de98.a393a8",
    "z": "ecc2e6c8.b10828",
    "name": "",
    "x": 790,
    "y": 660,
    "wires": [
        [],
        []
    ]
}, {
    "id": "a418fee3.f1876",
    "type": "subflow",
    "name": "Tello-Emergancy",
    "info": "# Tello Emergency\n\nThis node will send a command to the drone to immediately stop the motors\n\n## Input\n\nNone\n\n## Output\n\nNone",
    "category": "Tello",
    "in": [{
        "x": 500,
        "y": 620,
        "wires": [{
            "id": "7afc309b.1d1fc"
        }]
    }],
    "out": [{
        "x": 960,
        "y": 580,
        "wires": [{
            "id": "2823596a.d0aeee",
            "port": 0
        }]
    }, {
        "x": 960,
        "y": 660,
        "wires": [{
            "id": "2823596a.d0aeee",
            "port": 1
        }]
    }]
}, {
    "id": "7afc309b.1d1fc",
    "type": "change",
    "z": "a418fee3.f1876",
    "name": "Emergency",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "emergency",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 620,
    "wires": [
        ["2823596a.d0aeee"]
    ]
}, {
    "id": "2823596a.d0aeee",
    "type": "subflow:b3d9de98.a393a8",
    "z": "a418fee3.f1876",
    "name": "",
    "x": 830,
    "y": 620,
    "wires": [
        [],
        []
    ]
}, {
    "id": "17fe7a99.7a4e65",
    "type": "subflow",
    "name": "Tello-Delay",
    "info": "# Tello Delay\n\nThis node delays for a number of milliseconds, specificed in the incoming payload.  However, every 10 seconds it sends a **wifi?** command to keep the connection with the drone alive\n\n## Inputs\n\n- payload : number of milliseconds to delay for\n\n## Outputs\n\nNone",
    "category": "Tello",
    "in": [{
        "x": 180,
        "y": 260,
        "wires": [{
            "id": "63a0fdc9.ce58cc"
        }]
    }],
    "out": [{
        "x": 1100,
        "y": 220,
        "wires": [{
            "id": "3dab98d5.3e2d38",
            "port": 0
        }]
    }, {
        "x": 1100,
        "y": 360,
        "wires": [{
            "id": "2f887093.28aa5",
            "port": 1
        }]
    }]
}, {
    "id": "63a0fdc9.ce58cc",
    "type": "change",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "now",
        "pt": "msg",
        "to": "",
        "tot": "date"
    }, {
        "t": "set",
        "p": "expire",
        "pt": "msg",
        "to": "now + payload",
        "tot": "jsonata"
    }, {
        "t": "set",
        "p": "keepalive",
        "pt": "msg",
        "to": "now + 10000",
        "tot": "jsonata"
    }, {
        "t": "set",
        "p": "to",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 260,
    "wires": [
        ["6cdd120e.db1f7c"]
    ]
}, {
    "id": "7fd11ef0.5f6518",
    "type": "switch",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "property": "now",
    "propertyType": "msg",
    "rules": [{
        "t": "gt",
        "v": "expire",
        "vt": "msg"
    }, {
        "t": "gt",
        "v": "keepalive",
        "vt": "msg"
    }, {
        "t": "else"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 630,
    "y": 260,
    "wires": [
        ["3dab98d5.3e2d38"],
        ["37380c5f.781d94"],
        ["279b7120.92d3a6"]
    ]
}, {
    "id": "37380c5f.781d94",
    "type": "change",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"tellocmd\" : \"wifi?\"}",
        "tot": "json"
    }, {
        "t": "set",
        "p": "keepalive",
        "pt": "msg",
        "to": "now + 10000",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 340,
    "wires": [
        ["2f887093.28aa5"]
    ]
}, {
    "id": "2f887093.28aa5",
    "type": "subflow:b3d9de98.a393a8",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "x": 950,
    "y": 340,
    "wires": [
        ["279b7120.92d3a6"],
        []
    ]
}, {
    "id": "279b7120.92d3a6",
    "type": "delay",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 890,
    "y": 260,
    "wires": [
        ["6cdd120e.db1f7c"]
    ]
}, {
    "id": "3dab98d5.3e2d38",
    "type": "change",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "to",
        "tot": "msg"
    }, {
        "t": "delete",
        "p": "now",
        "pt": "msg"
    }, {
        "t": "delete",
        "p": "keepalive",
        "pt": "msg"
    }, {
        "t": "delete",
        "p": "expire",
        "pt": "msg"
    }, {
        "t": "delete",
        "p": "to",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 220,
    "wires": [
        []
    ]
}, {
    "id": "6cdd120e.db1f7c",
    "type": "change",
    "z": "17fe7a99.7a4e65",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "now",
        "pt": "msg",
        "to": "",
        "tot": "date"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 260,
    "wires": [
        ["7fd11ef0.5f6518"]
    ]
}, {
    "id": "6e262dbf.6778ac",
    "type": "subflow",
    "name": "Tello-Takeoff",
    "info": "## Tello Takeoff\n\nThis node sends the init command then the takeoff command to instruct the drone to take off\n\n## Inputs\n\nNone\n\n## Outputs\n\nNone",
    "category": "Tello",
    "in": [{
        "x": 120,
        "y": 620,
        "wires": [{
            "id": "a5a8c74c.7bf48"
        }]
    }],
    "out": [{
        "x": 1020,
        "y": 560,
        "wires": [{
            "id": "f571aa3b.9f82f",
            "port": 0
        }]
    }, {
        "x": 1020,
        "y": 620,
        "wires": [{
            "id": "f571aa3b.9f82f",
            "port": 1
        }, {
            "id": "a5a8c74c.7bf48",
            "port": 1
        }]
    }]
}, {
    "id": "273c8e20.896032",
    "type": "change",
    "z": "6e262dbf.6778ac",
    "name": "TakeOff",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "takeoff",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 720,
    "y": 580,
    "wires": [
        ["f571aa3b.9f82f"]
    ]
}, {
    "id": "a5a8c74c.7bf48",
    "type": "subflow:41365632.b6e76",
    "z": "6e262dbf.6778ac",
    "name": "",
    "x": 240,
    "y": 620,
    "wires": [
        ["6b7eb745.990a3"],
        []
    ]
}, {
    "id": "f571aa3b.9f82f",
    "type": "subflow:b3d9de98.a393a8",
    "z": "6e262dbf.6778ac",
    "name": "",
    "x": 890,
    "y": 580,
    "wires": [
        [],
        []
    ]
}, {
    "id": "9b97e5e2.61b3c8",
    "type": "subflow:17fe7a99.7a4e65",
    "z": "6e262dbf.6778ac",
    "name": "",
    "x": 570,
    "y": 580,
    "wires": [
        ["273c8e20.896032"],
        []
    ]
}, {
    "id": "6b7eb745.990a3",
    "type": "change",
    "z": "6e262dbf.6778ac",
    "name": "250 ms delay",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "250",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 580,
    "wires": [
        ["9b97e5e2.61b3c8"]
    ]
}, {
    "id": "46670c8e.b4dddc",
    "type": "subflow",
    "name": "Tello-Land",
    "info": "# Tello Land\n\nThis node instructs the Tello drone to land\n\n## Inputs\n\nNone\n\n## Outputs\n\nNone",
    "category": "Tello",
    "in": [{
        "x": 380,
        "y": 540,
        "wires": [{
            "id": "614253bb.1fe7f4"
        }]
    }],
    "out": [{
        "x": 800,
        "y": 520,
        "wires": [{
            "id": "c20590f2.acd24",
            "port": 0
        }]
    }, {
        "x": 800,
        "y": 580,
        "wires": [{
            "id": "c20590f2.acd24",
            "port": 1
        }]
    }]
}, {
    "id": "614253bb.1fe7f4",
    "type": "change",
    "z": "46670c8e.b4dddc",
    "name": "Land",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "land",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellotimeout",
        "pt": "msg",
        "to": "3000",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 540,
    "wires": [
        ["c20590f2.acd24"]
    ]
}, {
    "id": "c20590f2.acd24",
    "type": "subflow:b3d9de98.a393a8",
    "z": "46670c8e.b4dddc",
    "name": "",
    "x": 670,
    "y": 540,
    "wires": [
        [],
        []
    ]
}, {
    "id": "1afa2790.c936c8",
    "type": "subflow",
    "name": "Tello-Telemetry",
    "info": "# Tello Telemetry\n\nThis node returns the telemetry data from the drone.  The Init command has to be used before any data will be received from this node\n\n## Inputs\n\nNone\n\n## Outputs\n\n- payload : An object holding the properties representing the current \ndrone state",
    "category": "Tello",
    "in": [],
    "out": [{
        "x": 740,
        "y": 400,
        "wires": [{
            "id": "a427bdd8.951a7",
            "port": 0
        }]
    }]
}, {
    "id": "ff48b13e.d68b28",
    "type": "udp in",
    "z": "1afa2790.c936c8",
    "name": "",
    "iface": "",
    "port": "8890",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 120,
    "y": 400,
    "wires": [
        ["c436dcb3.871ff"]
    ]
}, {
    "id": "c436dcb3.871ff",
    "type": "delay",
    "z": "1afa2790.c936c8",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "2",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 290,
    "y": 400,
    "wires": [
        ["a427bdd8.951a7"]
    ]
}, {
    "id": "a427bdd8.951a7",
    "type": "change",
    "z": "1afa2790.c936c8",
    "name": "Parse Status into an object",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": " $filter($split($trim($string(payload)), ';'),function($v){$v != ''})\t   {$substringBefore($, ':') : \t        $contains($substringAfter($, ':'), \",\")\t        ? $map($split($substringAfter($, ':'),','),$number)\t        : $number($substringAfter($, ':'))}",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 400,
    "wires": [
        []
    ]
}, {
    "id": "bfe543e0.88d2d8",
    "type": "subflow",
    "name": "Tello-Cmd-Response",
    "info": "# Tello Response\n\nThe Tello response node returns any command responses received from the Tello drone\n\n## Inputs\n\nNone\n\n## Outputs\n\n- payload : A string received from the drone",
    "category": "Tello",
    "in": [],
    "out": [{
        "x": 460,
        "y": 320,
        "wires": [{
            "id": "a5138976.b8ebb",
            "port": 0
        }]
    }]
}, {
    "id": "3d98c1a9.215ac6",
    "type": "udp in",
    "z": "bfe543e0.88d2d8",
    "name": "",
    "iface": "",
    "port": "52955",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 120,
    "y": 320,
    "wires": [
        ["a5138976.b8ebb"]
    ]
}, {
    "id": "a5138976.b8ebb",
    "type": "change",
    "z": "bfe543e0.88d2d8",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "response",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "outstandingCmd",
        "pt": "flow",
        "to": "false",
        "tot": "bool"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 320,
    "wires": [
        []
    ]
}, {
    "id": "b3d9de98.a393a8",
    "type": "subflow",
    "name": "Tello-Cmd",
    "info": "# Tello Command node\n\nThis node sends an SDK command to the tello drone.  It does not return until a response has been received or a timeout period of 1 second has passed.  The timeout period can be overridden by passing in a property\n\n## Inputs\n\nThis node takes the following properties\n\n- payload.tellocmd : The command to send to the drone (as specified in the tello SDK)\n- payload.tellovalue : An optional parameter to the command\n- payload.tellotimeout : An number specifying an override for the default timeout period (in milliseconds)\n\n## Outputs\n\nThis node will return the input parameters with an additional response\n\n- payload.telloresponse : The response from the drone\n- payload.tellosentcmd : The command sent to the drone",
    "category": "Tello",
    "in": [{
        "x": 120,
        "y": 160,
        "wires": [{
            "id": "3b44ed73.e6c742"
        }]
    }],
    "out": [{
        "x": 1160,
        "y": 220,
        "wires": [{
            "id": "348ef878.ca1608",
            "port": 0
        }]
    }, {
        "x": 1160,
        "y": 160,
        "wires": [{
            "id": "3b44ed73.e6c742",
            "port": 0
        }]
    }]
}, {
    "id": "3b44ed73.e6c742",
    "type": "change",
    "z": "b3d9de98.a393a8",
    "name": "format outbound message",
    "rules": [{
        "t": "set",
        "p": "payloadold",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
        "tot": "jsonata"
    }, {
        "t": "set",
        "p": "outstandingCmd",
        "pt": "flow",
        "to": "true",
        "tot": "bool"
    }, {
        "t": "set",
        "p": "cmdTimeout",
        "pt": "msg",
        "to": "",
        "tot": "date"
    }, {
        "t": "set",
        "p": "cmdTimeout",
        "pt": "msg",
        "to": "cmdTimeout + ($exists(payload.tellotimeout) ? payload.tellotimeout : 1000)",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 160,
    "wires": [
        ["98ca013a.e5335", "e88bad62.97fd4"]
    ]
}, {
    "id": "50f7624e.7ba704",
    "type": "switch",
    "z": "b3d9de98.a393a8",
    "name": "wait for response",
    "property": "outstandingCmd",
    "propertyType": "flow",
    "rules": [{
        "t": "false"
    }, {
        "t": "true"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 990,
    "y": 280,
    "wires": [
        ["348ef878.ca1608"],
        ["cf42e4a1.9fada"]
    ]
}, {
    "id": "cf42e4a1.9fada",
    "type": "delay",
    "z": "b3d9de98.a393a8",
    "name": "",
    "pauseType": "delay",
    "timeout": "50",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 810,
    "y": 340,
    "wires": [
        ["98ca013a.e5335"]
    ]
}, {
    "id": "98ca013a.e5335",
    "type": "change",
    "z": "b3d9de98.a393a8",
    "name": "Get current timestamp",
    "rules": [{
        "t": "set",
        "p": "now",
        "pt": "msg",
        "to": "",
        "tot": "date"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 220,
    "wires": [
        ["6b75a7bb.aaabc8"]
    ]
}, {
    "id": "6b75a7bb.aaabc8",
    "type": "switch",
    "z": "b3d9de98.a393a8",
    "name": "Check for timeout",
    "property": "now",
    "propertyType": "msg",
    "rules": [{
        "t": "gt",
        "v": "cmdTimeout",
        "vt": "msg"
    }, {
        "t": "else"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 750,
    "y": 220,
    "wires": [
        ["348ef878.ca1608"],
        ["50f7624e.7ba704"]
    ]
}, {
    "id": "348ef878.ca1608",
    "type": "change",
    "z": "b3d9de98.a393a8",
    "name": "set response",
    "rules": [{
        "t": "set",
        "p": "payloadold.tellosentcmd",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payloadold",
        "tot": "msg"
    }, {
        "t": "set",
        "p": "payload.telloresponse",
        "pt": "msg",
        "to": "$exists($flowContext(\"response\")) ? $flowContext(\"response\") : \"timeout\"",
        "tot": "jsonata"
    }, {
        "t": "delete",
        "p": "cmdTimeout",
        "pt": "msg"
    }, {
        "t": "delete",
        "p": "payloadold",
        "pt": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 220,
    "wires": [
        []
    ]
}, {
    "id": "e88bad62.97fd4",
    "type": "debug",
    "z": "b3d9de98.a393a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 550,
    "y": 120,
    "wires": []
}, {
    "id": "41365632.b6e76",
    "type": "subflow",
    "name": "Tello-Init",
    "info": "# Tello init\n\nThis node sends the **command** command to the drone to enter SDK mode\n\n## Inputs\n\nNone\n\n## Outputs\n\nNone",
    "category": "Tello",
    "in": [{
        "x": 400,
        "y": 500,
        "wires": [{
            "id": "eaea1bc2.c3e5a"
        }]
    }],
    "out": [{
        "x": 800,
        "y": 460,
        "wires": [{
            "id": "a52f9ee0.1e2388",
            "port": 0
        }]
    }, {
        "x": 800,
        "y": 540,
        "wires": [{
            "id": "a52f9ee0.1e2388",
            "port": 1
        }]
    }]
}, {
    "id": "eaea1bc2.c3e5a",
    "type": "change",
    "z": "41365632.b6e76",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 500,
    "wires": [
        ["a52f9ee0.1e2388"]
    ]
}, {
    "id": "a52f9ee0.1e2388",
    "type": "subflow:b3d9de98.a393a8",
    "z": "41365632.b6e76",
    "name": "",
    "x": 670,
    "y": 500,
    "wires": [
        [],
        []
    ]
}, {
    "id": "f807402e.1f32a",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Connect",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 340,
    "y": 340,
    "wires": [
        ["adc9bc8.1719dc"]
    ]
}, {
    "id": "1c1830a6.922ad7",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Connect",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 160,
    "y": 360,
    "wires": [
        ["adc9bc8.1719dc"]
    ]
}, {
    "id": "9e709ec.e07d86",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 180,
    "wires": []
}, {
    "id": "5db46a1d.cb4004",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Receive Return Strings",
    "info": "",
    "x": 180,
    "y": 140,
    "wires": []
}, {
    "id": "58523647.e9d9b8",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 420,
    "y": 100,
    "wires": []
}, {
    "id": "29612aa4.f4f8ce",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Land",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 150,
    "y": 400,
    "wires": [
        ["5dff13cd.0211c4"]
    ]
}, {
    "id": "a174f30d.042fc8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "TakeOff",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 150,
    "y": 440,
    "wires": [
        ["26440cfa.a1a03c"]
    ]
}, {
    "id": "96b99533.35ab98",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Create commands ================================",
    "info": "",
    "x": 420,
    "y": 300,
    "wires": []
}, {
    "id": "6dbdf325.09afac",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Up 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 160,
    "y": 520,
    "wires": [
        ["498093bd.2c5ec4"]
    ]
}, {
    "id": "7bcfb08c.407aa",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Down 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 170,
    "y": 560,
    "wires": [
        ["6b526ef8.5ff48"]
    ]
}, {
    "id": "9f806b55.3a6da8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Right 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 170,
    "y": 600,
    "wires": [
        ["c59872a8.6671a"]
    ]
}, {
    "id": "6c617650.fc7a58",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Left 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 160,
    "y": 640,
    "wires": [
        ["f0cd21f6.60d65"]
    ]
}, {
    "id": "e0c8ba9e.89f1c8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Forward 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 180,
    "y": 680,
    "wires": [
        ["7e7b33d5.b7b05c"]
    ]
}, {
    "id": "e3460e5c.5e271",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Back 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 170,
    "y": 720,
    "wires": [
        ["54dce13d.e6137"]
    ]
}, {
    "id": "b382fe04.8289",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "cw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 150,
    "y": 760,
    "wires": [
        ["32697eaf.e89cba"]
    ]
}, {
    "id": "98ed768a.d8d7e8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Full 360º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 160,
    "y": 840,
    "wires": [
        ["1a96ee06.98816a"]
    ]
}, {
    "id": "ea0b43df.1263c8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Flip forward",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 170,
    "y": 880,
    "wires": [
        ["40642993.147c28"]
    ]
}, {
    "id": "e96e571d.3a848",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "ccw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 150,
    "y": 800,
    "wires": [
        ["a91a48a5.0fd548"]
    ]
}, {
    "id": "1a29ee4.fba7192",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Emergency",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 160,
    "y": 480,
    "wires": [
        ["23f39a61.dfb476"]
    ]
}, {
    "id": "ac0da78f.fc9688",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Land",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "land",
    "payloadType": "str",
    "topic": "",
    "x": 330,
    "y": 380,
    "wires": [
        ["5dff13cd.0211c4"]
    ]
}, {
    "id": "f1bc8ddd.b78b5",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Takeoff",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 340,
    "y": 420,
    "wires": [
        ["26440cfa.a1a03c"]
    ]
}, {
    "id": "1f740bb1.1612ec",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 17,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Up (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-up",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 350,
    "y": 500,
    "wires": [
        ["498093bd.2c5ec4"]
    ]
}, {
    "id": "2504271d.7c5fa8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 18,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Down (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-down",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 350,
    "y": 540,
    "wires": [
        ["6b526ef8.5ff48"]
    ]
}, {
    "id": "eb712162.ea7328",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 19,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Right (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-right",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 350,
    "y": 580,
    "wires": [
        ["c59872a8.6671a"]
    ]
}, {
    "id": "d9ecb2b0.b2aa1",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 20,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Left (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 350,
    "y": 620,
    "wires": [
        ["f0cd21f6.60d65"]
    ]
}, {
    "id": "26ea80b0.0450f8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 21,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Forward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-forward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 360,
    "y": 660,
    "wires": [
        ["7e7b33d5.b7b05c"]
    ]
}, {
    "id": "f49d2831.ba52f8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 22,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Backward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-backward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 370,
    "y": 700,
    "wires": [
        ["54dce13d.e6137"]
    ]
}, {
    "id": "15d4e8d2.38a0b7",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 23,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 360,
    "y": 740,
    "wires": [
        ["32697eaf.e89cba"]
    ]
}, {
    "id": "c2868bd4.5fe36",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "Counter Clockwise",
    "group": "1eefcfb1.386918",
    "order": 24,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Anti-Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-undo",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 370,
    "y": 780,
    "wires": [
        ["a91a48a5.0fd548"]
    ]
}, {
    "id": "448feb05.a4b9d4",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 25,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Full Rotation (360º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 370,
    "y": 820,
    "wires": [
        ["1a96ee06.98816a"]
    ]
}, {
    "id": "97a93250.67e238",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 26,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Flip (forward)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 360,
    "y": 860,
    "wires": [
        ["40642993.147c28"]
    ]
}, {
    "id": "6fd16ff7.d40de8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Emergency Stop",
    "color": "",
    "bgcolor": "red",
    "icon": "fa-stop-circle",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 370,
    "y": 460,
    "wires": [
        ["23f39a61.dfb476"]
    ]
}, {
    "id": "214b041b.b3e2dc",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 430,
    "y": 240,
    "wires": []
}, {
    "id": "f6203b47.653298",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Open port 8890/udp in Firewall",
    "info": "Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.",
    "x": 210,
    "y": 220,
    "wires": []
}, {
    "id": "caaae536.6a7578",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "STATUS-parsed",
    "links": ["bebb0fa2.9dc588", "d2a71fdf.53bab8"],
    "x": 555,
    "y": 260,
    "wires": []
}, {
    "id": "d2a71fdf.53bab8",
    "type": "link in",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["a96f756b.a69d18", "caaae536.6a7578"],
    "x": 995,
    "y": 660,
    "wires": [
        ["ef794190.f9c508", "1200b131.63d3e7", "a55bae58.e34b98", "9cbbef38.d1e758", "b6f09dd.5bab96", "5cfe00bc.4a4728", "5c7862eb.9d41c4", "1c70d798.29fa98", "7c6ea101.737518", "bf70fdc5.786e2", "c3b9250b.4812e8"]
    ]
}, {
    "id": "ef794190.f9c508",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "battery percentage",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.bat",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 440,
    "wires": [
        ["eecbb39.a9b5dd"]
    ]
}, {
    "id": "eecbb39.a9b5dd",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Battery",
    "label": "Battery",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 1360,
    "y": 440,
    "wires": []
}, {
    "id": "f5ebdcd6.edc0f",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temp",
    "label": "Cº",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1350,
    "y": 520,
    "wires": []
}, {
    "id": "1200b131.63d3e7",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "fly time",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.time",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 480,
    "wires": [
        ["fbed56de.ced2"]
    ]
}, {
    "id": "a55bae58.e34b98",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Temperature",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temph",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1150,
    "y": 520,
    "wires": [
        ["f5ebdcd6.edc0f"]
    ]
}, {
    "id": "40585940.691508",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "634de022.011bc8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel X",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 640,
    "wires": []
}, {
    "id": "48b73e00.6f735c",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "634de022.011bc8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel Y",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 680,
    "wires": []
}, {
    "id": "e8166138.8adae8",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "634de022.011bc8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Accel Z",
    "label": "cm/sec2",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 720,
    "wires": []
}, {
    "id": "9f1e9040.d276a8",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed Y",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 800,
    "wires": []
}, {
    "id": "147adfaf.3deb58",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed Z",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 840,
    "wires": []
}, {
    "id": "9b34e762.b05538",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "bdc41bdd.470c8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speed X",
    "label": "cm/sec",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 760,
    "wires": []
}, {
    "id": "7c6ea101.737518",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Ground Speed X",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgx",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 760,
    "wires": [
        ["9b34e762.b05538"]
    ]
}, {
    "id": "bf70fdc5.786e2",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Ground Speed y",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgy",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1160,
    "y": 800,
    "wires": [
        ["9f1e9040.d276a8"]
    ]
}, {
    "id": "c3b9250b.4812e8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Ground Speed z",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.vgz",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1160,
    "y": 840,
    "wires": [
        ["147adfaf.3deb58"]
    ]
}, {
    "id": "9cbbef38.d1e758",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Height",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.h",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 560,
    "wires": [
        ["7721965c.31b7c8"]
    ]
}, {
    "id": "5cfe00bc.4a4728",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Accel X",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agx",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 640,
    "wires": [
        ["40585940.691508"]
    ]
}, {
    "id": "5c7862eb.9d41c4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Accel Y",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agy",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 680,
    "wires": [
        ["48b73e00.6f735c"]
    ]
}, {
    "id": "1c70d798.29fa98",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Accel Z",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.agz",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 720,
    "wires": [
        ["e8166138.8adae8"]
    ]
}, {
    "id": "45e36c55.9298ec",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Barometer",
    "label": "millibars",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1370,
    "y": 600,
    "wires": []
}, {
    "id": "b6f09dd.5bab96",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Barometer",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.baro",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1150,
    "y": 600,
    "wires": [
        ["45e36c55.9298ec"]
    ]
}, {
    "id": "fbed56de.ced2",
    "type": "ui_text",
    "z": "b8545689.1f8f68",
    "group": "634de022.011bc8",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Flight Time:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1370,
    "y": 480,
    "wires": []
}, {
    "id": "7721965c.31b7c8",
    "type": "ui_chart",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Height",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "1000",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "useOldStyle": false,
    "x": 1350,
    "y": 560,
    "wires": [
        [],
        []
    ]
}, {
    "id": "adc9bc8.1719dc",
    "type": "subflow:41365632.b6e76",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 680,
    "y": 360,
    "wires": [
        ["d971794c.901998"],
        ["80455737.bff3a"]
    ]
}, {
    "id": "d7947b27.d62e78",
    "type": "subflow:bfe543e0.88d2d8",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 200,
    "y": 180,
    "wires": [
        ["9e709ec.e07d86"]
    ]
}, {
    "id": "db29cbc8.7f3138",
    "type": "subflow:1afa2790.c936c8",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 180,
    "y": 260,
    "wires": [
        ["caaae536.6a7578", "214b041b.b3e2dc"]
    ]
}, {
    "id": "5dff13cd.0211c4",
    "type": "subflow:46670c8e.b4dddc",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 690,
    "y": 400,
    "wires": [
        ["d971794c.901998"],
        ["935fb9cc.8e4818"]
    ]
}, {
    "id": "26440cfa.a1a03c",
    "type": "subflow:6e262dbf.6778ac",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 690,
    "y": 440,
    "wires": [
        ["d971794c.901998"],
        ["67575e43.77f238"]
    ]
}, {
    "id": "d971794c.901998",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "Commands sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1040,
    "y": 400,
    "wires": []
}, {
    "id": "498093bd.2c5ec4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 50",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "50",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 520,
    "wires": [
        ["ac71824d.b4825"]
    ]
}, {
    "id": "6b526ef8.5ff48",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 50",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "50",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 560,
    "wires": [
        ["b8877a5f.119ab8"]
    ]
}, {
    "id": "c59872a8.6671a",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 50",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "50",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 600,
    "wires": [
        ["12c8a3a7.397bfc"]
    ]
}, {
    "id": "f0cd21f6.60d65",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 50",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "50",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 640,
    "wires": [
        ["80e0e673.98ae88"]
    ]
}, {
    "id": "7e7b33d5.b7b05c",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 50",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "50",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 680,
    "wires": [
        ["da1c8c6b.c4b8a8"]
    ]
}, {
    "id": "54dce13d.e6137",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 50",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "50",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 720,
    "wires": [
        ["12a71018.20e338"]
    ]
}, {
    "id": "a91a48a5.0fd548",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 90",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "90",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 800,
    "wires": [
        ["2cc40dc6.ccc81a"]
    ]
}, {
    "id": "32697eaf.e89cba",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 90",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "90",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 760,
    "wires": [
        ["1fe106e2.eaf799"]
    ]
}, {
    "id": "1a96ee06.98816a",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set 360",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "360",
        "tot": "num"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 840,
    "wires": [
        ["16fc7e36.5d7652"]
    ]
}, {
    "id": "40642993.147c28",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "set f",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "f",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 880,
    "wires": [
        ["bff19ce3.d8f7c"]
    ]
}, {
    "id": "23f39a61.dfb476",
    "type": "subflow:a418fee3.f1876",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 710,
    "y": 480,
    "wires": [
        ["d971794c.901998"],
        ["a929579.0742d28"]
    ]
}, {
    "id": "ac71824d.b4825",
    "type": "subflow:ecc2e6c8.b10828",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 680,
    "y": 520,
    "wires": [
        ["d971794c.901998"],
        ["42f55712.aa0768"]
    ]
}, {
    "id": "b8877a5f.119ab8",
    "type": "subflow:572d51d4.bca538",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 690,
    "y": 560,
    "wires": [
        ["d971794c.901998"],
        ["f4b2ae84.6dc768"]
    ]
}, {
    "id": "12c8a3a7.397bfc",
    "type": "subflow:2c810068.ab3e8",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 690,
    "y": 600,
    "wires": [
        ["d971794c.901998"],
        ["36bc38fd.659128"]
    ]
}, {
    "id": "80e0e673.98ae88",
    "type": "subflow:e8011a2d.52a308",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 680,
    "y": 640,
    "wires": [
        ["d971794c.901998"],
        ["352171a9.b0f546"]
    ]
}, {
    "id": "da1c8c6b.c4b8a8",
    "type": "subflow:905f0b7a.2a33b8",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 700,
    "y": 680,
    "wires": [
        ["d971794c.901998"],
        ["7a07c20f.b742cc"]
    ]
}, {
    "id": "12a71018.20e338",
    "type": "subflow:d550fb8b.0d17c8",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 690,
    "y": 720,
    "wires": [
        ["d971794c.901998"],
        ["22ad357d.c0bd8a"]
    ]
}, {
    "id": "1fe106e2.eaf799",
    "type": "subflow:34affb68.3b19dc",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 700,
    "y": 760,
    "wires": [
        ["d971794c.901998"],
        ["aeeddd9e.1b50d"]
    ]
}, {
    "id": "16fc7e36.5d7652",
    "type": "subflow:34affb68.3b19dc",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 700,
    "y": 840,
    "wires": [
        ["d971794c.901998"],
        ["b314eaac.c57688"]
    ]
}, {
    "id": "2cc40dc6.ccc81a",
    "type": "subflow:fd727e43.4cd72",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 720,
    "y": 800,
    "wires": [
        ["d971794c.901998"],
        ["108c26b3.fc5519"]
    ]
}, {
    "id": "bff19ce3.d8f7c",
    "type": "subflow:811d01c4.5382b",
    "z": "b8545689.1f8f68",
    "name": "",
    "x": 680,
    "y": 880,
    "wires": [
        ["d971794c.901998"],
        ["d9db1cbf.a360f"]
    ]
}, {
    "id": "eb934dd5.9d23c8",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Drone Missions =================================",
    "info": "",
    "x": 420,
    "y": 940,
    "wires": []
}, {
    "id": "630afe39.0df318",
    "type": "udp out",
    "z": "b8545689.1f8f68",
    "name": "",
    "addr": "192.168.10.1",
    "iface": "",
    "port": "8889",
    "ipv": "udp4",
    "outport": "52955",
    "base64": false,
    "multicast": "false",
    "x": 1210,
    "y": 320,
    "wires": []
}, {
    "id": "3706fc97.797b84",
    "type": "link in",
    "z": "b8545689.1f8f68",
    "name": "TELLO_CMD_SEND",
    "links": ["80455737.bff3a", "935fb9cc.8e4818", "67575e43.77f238", "a929579.0742d28", "42f55712.aa0768", "f4b2ae84.6dc768", "36bc38fd.659128", "352171a9.b0f546", "7a07c20f.b742cc", "22ad357d.c0bd8a", "aeeddd9e.1b50d", "108c26b3.fc5519", "b314eaac.c57688", "d9db1cbf.a360f", "573207bc.a1f908", "24b0019d.d9b9ae", "bb33c3a8.d080c8", "2cc37632.a7cc22", "2867c676.d11ee2", "61a7c87d.e31c5"],
    "x": 1055,
    "y": 320,
    "wires": [
        ["630afe39.0df318"]
    ]
}, {
    "id": "80455737.bff3a",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 795,
    "y": 360,
    "wires": []
}, {
    "id": "935fb9cc.8e4818",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 815,
    "y": 400,
    "wires": []
}, {
    "id": "67575e43.77f238",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 815,
    "y": 440,
    "wires": []
}, {
    "id": "a929579.0742d28",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 855,
    "y": 480,
    "wires": []
}, {
    "id": "42f55712.aa0768",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 815,
    "y": 520,
    "wires": []
}, {
    "id": "f4b2ae84.6dc768",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 815,
    "y": 560,
    "wires": []
}, {
    "id": "36bc38fd.659128",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 815,
    "y": 600,
    "wires": []
}, {
    "id": "352171a9.b0f546",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 795,
    "y": 640,
    "wires": []
}, {
    "id": "7a07c20f.b742cc",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 835,
    "y": 680,
    "wires": []
}, {
    "id": "22ad357d.c0bd8a",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 815,
    "y": 720,
    "wires": []
}, {
    "id": "aeeddd9e.1b50d",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 835,
    "y": 760,
    "wires": []
}, {
    "id": "108c26b3.fc5519",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 875,
    "y": 800,
    "wires": []
}, {
    "id": "b314eaac.c57688",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 835,
    "y": 840,
    "wires": []
}, {
    "id": "d9db1cbf.a360f",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["3706fc97.797b84"],
    "x": 795,
    "y": 880,
    "wires": []
}, {
    "id": "1eefcfb1.386918",
    "type": "ui_group",
    "z": "",
    "name": "Control",
    "tab": "4f30c4f4.dd6eac",
    "order": 5,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "2b04f4d6.55fcf4",
    "type": "ui_group",
    "z": "",
    "name": "Stats",
    "tab": "4f30c4f4.dd6eac",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "634de022.011bc8",
    "type": "ui_group",
    "z": "",
    "name": "Accel",
    "tab": "4f30c4f4.dd6eac",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "bdc41bdd.470c8",
    "type": "ui_group",
    "z": "",
    "name": "Movement",
    "tab": "4f30c4f4.dd6eac",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "4f30c4f4.dd6eac",
    "type": "ui_tab",
    "z": "",
    "name": "Tello Drone",
    "icon": "fa-tachometer"
}]