flows/starter/part5_starter.json
[{
    "id": "3db311f2.1c8d6e",
    "type": "udp out",
    "z": "b8545689.1f8f68",
    "name": "",
    "addr": "192.168.10.1",
    "iface": "",
    "port": "8889",
    "ipv": "udp4",
    "outport": "52955",
    "base64": false,
    "multicast": "false",
    "x": 810,
    "y": 500,
    "wires": []
}, {
    "id": "9473f13.9a00e9",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 770,
    "y": 460,
    "wires": []
}, {
    "id": "b621dd36.ec3188",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "1 - Connect to TELLO-NNNNNN WiFi",
    "info": "",
    "x": 420,
    "y": 400,
    "wires": []
}, {
    "id": "2ef61293.a0fd76",
    "type": "link in",
    "z": "b8545689.1f8f68",
    "name": "TelloControls-In",
    "links": ["86f3cb2c.85be3"],
    "x": 315,
    "y": 480,
    "wires": [
        ["71ecd809.941b98"]
    ]
}, {
    "id": "770ff9cb.d29398",
    "type": "udp in",
    "z": "b8545689.1f8f68",
    "name": "",
    "iface": "",
    "port": "52955",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 340,
    "y": 640,
    "wires": [
        ["fec348ee.c2cc68"]
    ]
}, {
    "id": "fec348ee.c2cc68",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 790,
    "y": 640,
    "wires": []
}, {
    "id": "99353b9e.897c98",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Receive Return Strings",
    "info": "",
    "x": 360,
    "y": 600,
    "wires": []
}, {
    "id": "fd692d59.300f1",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Send Commands",
    "info": "",
    "x": 380,
    "y": 440,
    "wires": []
}, {
    "id": "970f1659.0b25b8",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Send Commands to drone ==========================",
    "info": "",
    "x": 600,
    "y": 360,
    "wires": []
}, {
    "id": "f132bcdb.eb96d",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 600,
    "y": 560,
    "wires": []
}, {
    "id": "f0130578.26139",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Land",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 330,
    "y": 860,
    "wires": [
        ["812840c7.c9a7c"]
    ]
}, {
    "id": "d453cc28.38c75",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "TakeOff",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 330,
    "y": 900,
    "wires": [
        ["36615f1a.473b28"]
    ]
}, {
    "id": "8625225a.c0c6d",
    "type": "delay",
    "z": "b8545689.1f8f68",
    "name": "",
    "pauseType": "delay",
    "timeout": "250",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 350,
    "y": 940,
    "wires": [
        ["a7c4bc9b.58282"]
    ]
}, {
    "id": "a7c4bc9b.58282",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "TakeOff",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "takeoff",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 940,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "36615f1a.473b28",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 900,
    "wires": [
        ["8625225a.c0c6d", "86f3cb2c.85be3"]
    ]
}, {
    "id": "812840c7.c9a7c",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Land",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "land",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 860,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "86f3cb2c.85be3",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "TelloControls-Out",
    "links": ["2ef61293.a0fd76"],
    "x": 935,
    "y": 1120,
    "wires": []
}, {
    "id": "5a20b666.76dd3",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 600,
    "y": 760,
    "wires": []
}, {
    "id": "71ecd809.941b98",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "format outbound message",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 480,
    "wires": [
        ["3db311f2.1c8d6e", "9473f13.9a00e9"]
    ]
}, {
    "id": "1933fd2f.7bf943",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Up 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "up",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1020,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "7329c9d9.5b15e",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Right 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "right",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 1100,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "b23549d6.8ae4c",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Forward 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "forward",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 1180,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "684753a9.74c2cc",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Down 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "down",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 1060,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "a02ba263.b88bd",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Left 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "left",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1140,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "4c45b436.d6f1b4",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Back 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "back",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 1220,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "97d08555.3152d",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "cw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 1260,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "605be85f.11ff58",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "ccw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "ccw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1300,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "4990d637.e431",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Flip f",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "flip",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "f",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 1380,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "f4444fe8.fdd78",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Up 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 340,
    "y": 1020,
    "wires": [
        ["1933fd2f.7bf943"]
    ]
}, {
    "id": "c6aaae01.75ff5",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Down 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 350,
    "y": 1060,
    "wires": [
        ["684753a9.74c2cc"]
    ]
}, {
    "id": "ce641153.67963",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Right 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 350,
    "y": 1100,
    "wires": [
        ["7329c9d9.5b15e"]
    ]
}, {
    "id": "810ad4c.1bb8328",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Left 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 340,
    "y": 1140,
    "wires": [
        ["a02ba263.b88bd"]
    ]
}, {
    "id": "a5e454b6.9645a",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Forward 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 360,
    "y": 1180,
    "wires": [
        ["b23549d6.8ae4c"]
    ]
}, {
    "id": "f2a62f8.35a585",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Back 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 350,
    "y": 1220,
    "wires": [
        ["4c45b436.d6f1b4"]
    ]
}, {
    "id": "c58b24eb.a5b718",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "cw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 330,
    "y": 1260,
    "wires": [
        ["97d08555.3152d"]
    ]
}, {
    "id": "234f21.c698d8e",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Full 360º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 340,
    "y": 1340,
    "wires": [
        ["e5053670.3a94b8"]
    ]
}, {
    "id": "1c32236c.e7ef85",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Flip forward",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 350,
    "y": 1380,
    "wires": [
        ["4990d637.e431"]
    ]
}, {
    "id": "4b06d9ca.75a15",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "ccw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 330,
    "y": 1300,
    "wires": [
        ["605be85f.11ff58"]
    ]
}, {
    "id": "e5053670.3a94b8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "cw 360º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "360",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1340,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "ffb5d128.3e22a8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Emergency",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "emergency",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 980,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "8c01fad4.792fb",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Emergency",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 340,
    "y": 980,
    "wires": [
        ["ffb5d128.3e22a8"]
    ]
}, {
    "id": "7feb1c00.54a88c",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Land",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "land",
    "payloadType": "str",
    "topic": "",
    "x": 510,
    "y": 840,
    "wires": [
        ["812840c7.c9a7c"]
    ]
}, {
    "id": "bd6ea427.c413c8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Takeoff",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 520,
    "y": 880,
    "wires": [
        ["36615f1a.473b28"]
    ]
}, {
    "id": "f77adad5.c5e8d",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 17,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Up (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-up",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 530,
    "y": 1000,
    "wires": [
        ["1933fd2f.7bf943"]
    ]
}, {
    "id": "74ae5ed4.52ff98",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 18,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Down (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-down",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 530,
    "y": 1040,
    "wires": [
        ["684753a9.74c2cc"]
    ]
}, {
    "id": "a1802c49.96e2c",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 19,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Right (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-right",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 530,
    "y": 1080,
    "wires": [
        ["7329c9d9.5b15e"]
    ]
}, {
    "id": "40a9c334.089a1c",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 20,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Left (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 530,
    "y": 1120,
    "wires": [
        ["a02ba263.b88bd"]
    ]
}, {
    "id": "f10a1a3d.480158",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 21,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Forward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-forward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 540,
    "y": 1160,
    "wires": [
        ["b23549d6.8ae4c"]
    ]
}, {
    "id": "d3613f5.30c034",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 22,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Backward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-backward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 550,
    "y": 1200,
    "wires": [
        ["4c45b436.d6f1b4"]
    ]
}, {
    "id": "3d403766.d1a0b8",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 23,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 540,
    "y": 1240,
    "wires": [
        ["97d08555.3152d"]
    ]
}, {
    "id": "2f8c2f38.c4a6f",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "Counter Clockwise",
    "group": "1eefcfb1.386918",
    "order": 24,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Anti-Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-undo",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 550,
    "y": 1280,
    "wires": [
        ["605be85f.11ff58"]
    ]
}, {
    "id": "2b0417db.1b107",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 25,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Full Rotation (360º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 550,
    "y": 1320,
    "wires": [
        ["e5053670.3a94b8"]
    ]
}, {
    "id": "2e569a03.2a1cfe",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 26,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Flip (forward)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 540,
    "y": 1360,
    "wires": [
        ["4990d637.e431"]
    ]
}, {
    "id": "ee56e39c.55221",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Emergency Stop",
    "color": "",
    "bgcolor": "red",
    "icon": "fa-stop-circle",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 550,
    "y": 960,
    "wires": [
        ["ffb5d128.3e22a8"]
    ]
}, {
    "id": "bfb1282e.d51768",
    "type": "udp in",
    "z": "b8545689.1f8f68",
    "name": "",
    "iface": "",
    "port": "8890",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 340,
    "y": 720,
    "wires": [
        ["9d4a23f8.e607a8"]
    ]
}, {
    "id": "84e6e32c.872cd8",
    "type": "debug",
    "z": "b8545689.1f8f68",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 990,
    "y": 680,
    "wires": []
}, {
    "id": "9d4a23f8.e607a8",
    "type": "delay",
    "z": "b8545689.1f8f68",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "2",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 510,
    "y": 720,
    "wires": [
        ["3b812650.af8d42"]
    ]
}, {
    "id": "3b812650.af8d42",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Parse Status into an object",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": " $filter($split($trim($string(payload)), ';'),function($v){$v != ''})\t   {$substringBefore($, ':') : \t        $contains($substringAfter($, ':'), \",\")\t        ? $map($split($substringAfter($, ':'),','),$number)\t        : $number($substringAfter($, ':'))}",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 720,
    "wires": [
        ["aa753ad1.166fd8", "84e6e32c.872cd8"]
    ]
}, {
    "id": "9ae82b80.ea8d58",
    "type": "comment",
    "z": "b8545689.1f8f68",
    "name": "Open port 8890/udp in Firewall",
    "info": "Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.",
    "x": 390,
    "y": 680,
    "wires": []
}, {
    "id": "aa753ad1.166fd8",
    "type": "link out",
    "z": "b8545689.1f8f68",
    "name": "STATUS-parsed",
    "links": ["bebb0fa2.9dc588", "4fdf4ec6.85bf9"],
    "x": 935,
    "y": 720,
    "wires": []
}, {
    "id": "4fdf4ec6.85bf9",
    "type": "link in",
    "z": "b8545689.1f8f68",
    "name": "",
    "links": ["a96f756b.a69d18", "aa753ad1.166fd8"],
    "x": 1075,
    "y": 940,
    "wires": [
        ["2c77f2ce.75103e"]
    ]
}, {
    "id": "2c77f2ce.75103e",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "battery percentage",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.bat",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 940,
    "wires": [
        ["f11c32df.394628"]
    ]
}, {
    "id": "f11c32df.394628",
    "type": "ui_gauge",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Battery",
    "label": "Battery",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 1420,
    "y": 940,
    "wires": []
}, {
    "id": "21a99965.4f8546",
    "type": "ui_button",
    "z": "b8545689.1f8f68",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Connect",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 520,
    "y": 800,
    "wires": [
        ["8da68fbe.4788d8"]
    ]
}, {
    "id": "8da68fbe.4788d8",
    "type": "change",
    "z": "b8545689.1f8f68",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 820,
    "wires": [
        ["86f3cb2c.85be3"]
    ]
}, {
    "id": "935f2962.7a97a8",
    "type": "inject",
    "z": "b8545689.1f8f68",
    "name": "Connect",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 340,
    "y": 820,
    "wires": [
        ["8da68fbe.4788d8"]
    ]
}, {
    "id": "1eefcfb1.386918",
    "type": "ui_group",
    "z": "",
    "name": "Control",
    "tab": "4f30c4f4.dd6eac",
    "order": 5,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "2b04f4d6.55fcf4",
    "type": "ui_group",
    "z": "",
    "name": "Stats",
    "tab": "4f30c4f4.dd6eac",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "4f30c4f4.dd6eac",
    "type": "ui_tab",
    "z": "",
    "name": "Tello Drone",
    "icon": "fa-tachometer"
}]