flows/starter/part5_starter.json
[{
    "id": "31c1a1b7.b9ce56",
    "type": "udp out",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "addr": "192.168.10.1",
    "iface": "",
    "port": "8889",
    "ipv": "udp4",
    "outport": "52955",
    "base64": false,
    "multicast": "false",
    "x": 590,
    "y": 180,
    "wires": []
}, {
    "id": "bf079ad7.0c7718",
    "type": "debug",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 550,
    "y": 140,
    "wires": []
}, {
    "id": "f1b58825.f6c47",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "1 - Connect to TELLO-NNNNNN WiFi",
    "info": "",
    "x": 200,
    "y": 80,
    "wires": []
}, {
    "id": "d85495a9.f00cc8",
    "type": "link in",
    "z": "3f2fa13.a214e5e",
    "name": "TelloControls-In",
    "links": ["d3766a36.b952b"],
    "x": 95,
    "y": 160,
    "wires": [
        ["6764702e.637718"]
    ]
}, {
    "id": "97ac66cf.d42f08",
    "type": "udp in",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "iface": "",
    "port": "52955",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 120,
    "y": 320,
    "wires": [
        ["b4015b3e.290068"]
    ]
}, {
    "id": "b4015b3e.290068",
    "type": "debug",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 320,
    "wires": []
}, {
    "id": "c3f42766.a70648",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "Receive Return Strings",
    "info": "",
    "x": 140,
    "y": 280,
    "wires": []
}, {
    "id": "2dd06b62.7cb434",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "Send Commands",
    "info": "",
    "x": 160,
    "y": 120,
    "wires": []
}, {
    "id": "bea6032d.7b2ae8",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "================================ Send Commands to drone ==========================",
    "info": "",
    "x": 380,
    "y": 40,
    "wires": []
}, {
    "id": "bbd87097.c3d098",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 380,
    "y": 240,
    "wires": []
}, {
    "id": "e50d11f2.d68b9",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Land",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 540,
    "wires": [
        ["21d050f6.b97e78"]
    ]
}, {
    "id": "caf5d6fe.57d69",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "TakeOff",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 580,
    "wires": [
        ["30807d8e.356a1a"]
    ]
}, {
    "id": "d7d450ff.e57998",
    "type": "delay",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "pauseType": "delay",
    "timeout": "250",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 130,
    "y": 620,
    "wires": [
        ["8a27f4e9.9c1018"]
    ]
}, {
    "id": "8a27f4e9.9c1018",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "TakeOff",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "takeoff",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 620,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "30807d8e.356a1a",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 580,
    "wires": [
        ["d7d450ff.e57998", "d3766a36.b952b"]
    ]
}, {
    "id": "21d050f6.b97e78",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Land",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "land",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 540,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "d3766a36.b952b",
    "type": "link out",
    "z": "3f2fa13.a214e5e",
    "name": "TelloControls-Out",
    "links": ["d85495a9.f00cc8"],
    "x": 715,
    "y": 800,
    "wires": []
}, {
    "id": "5ef2ec28.cd1d34",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "================================ Handle incoming messages =========================",
    "info": "",
    "x": 380,
    "y": 440,
    "wires": []
}, {
    "id": "6764702e.637718",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "format outbound message",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 160,
    "wires": [
        ["31c1a1b7.b9ce56", "bf079ad7.0c7718"]
    ]
}, {
    "id": "fc8e77d1.414ed",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Up 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "up",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 700,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "9ef7f2a8.b0817",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Right 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "right",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 780,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "a794dddd.f126c8",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Forward 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "forward",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 860,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "e3f5ae9b.6da198",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Down 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "down",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 740,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "23ca0469.ba5804",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Left 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "left",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 820,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "7ba5c40.65ce4bc",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Back 50cm",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "back",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "50",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 900,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "9da3a805.ab51a8",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "cw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 940,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "b64d56d0.6c4278",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "ccw 90º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "ccw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "90",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 980,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "5033144e.35bde4",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Flip f",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "flip",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "f",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1060,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "e217bdb7.66a7d",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Up 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 700,
    "wires": [
        ["fc8e77d1.414ed"]
    ]
}, {
    "id": "9236b5b6.a53f8",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Down 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 740,
    "wires": [
        ["e3f5ae9b.6da198"]
    ]
}, {
    "id": "98d6f7b1.a2652",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Right 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 780,
    "wires": [
        ["9ef7f2a8.b0817"]
    ]
}, {
    "id": "e09ae44b.76237",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Left 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 820,
    "wires": [
        ["23ca0469.ba5804"]
    ]
}, {
    "id": "2f8f40a0.5c5c1",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Forward 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 140,
    "y": 860,
    "wires": [
        ["a794dddd.f126c8"]
    ]
}, {
    "id": "8789cf3c.59f628",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Back 50cm",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 900,
    "wires": [
        ["7ba5c40.65ce4bc"]
    ]
}, {
    "id": "d5129175.ba12c8",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "cw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 940,
    "wires": [
        ["9da3a805.ab51a8"]
    ]
}, {
    "id": "e81ba2c.c0105e",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Full 360º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 1020,
    "wires": [
        ["f6b4ef62.2f4698"]
    ]
}, {
    "id": "75d29a26.0f1c54",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Flip forward",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 1060,
    "wires": [
        ["5033144e.35bde4"]
    ]
}, {
    "id": "6be1658d.005e14",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "ccw 90º",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 980,
    "wires": [
        ["b64d56d0.6c4278"]
    ]
}, {
    "id": "f6b4ef62.2f4698",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "cw 360º",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "cw",
        "tot": "str"
    }, {
        "t": "set",
        "p": "payload.tellovalue",
        "pt": "msg",
        "to": "360",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1020,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "e01c9771.b785c8",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Emergency",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "emergency",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 660,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "b40d15be.ab8828",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Emergency",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 660,
    "wires": [
        ["e01c9771.b785c8"]
    ]
}, {
    "id": "9c1e18a6.004768",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Land",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "land",
    "payloadType": "str",
    "topic": "",
    "x": 290,
    "y": 520,
    "wires": [
        ["21d050f6.b97e78"]
    ]
}, {
    "id": "c8ccc8a0.18df5",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Takeoff",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 300,
    "y": 560,
    "wires": [
        ["30807d8e.356a1a"]
    ]
}, {
    "id": "67d729e6.82a3a8",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 17,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Up (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-up",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 680,
    "wires": [
        ["fc8e77d1.414ed"]
    ]
}, {
    "id": "4e9c5395.d911ec",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 18,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Down (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-down",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 720,
    "wires": [
        ["e3f5ae9b.6da198"]
    ]
}, {
    "id": "d4a7e071.9bdcf",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 19,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Right (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-right",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 760,
    "wires": [
        ["9ef7f2a8.b0817"]
    ]
}, {
    "id": "59241ab7.9e72ac",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 20,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Left (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-arrow-left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 310,
    "y": 800,
    "wires": [
        ["23ca0469.ba5804"]
    ]
}, {
    "id": "aab9acae.43f86",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 21,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Forward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-forward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 320,
    "y": 840,
    "wires": [
        ["a794dddd.f126c8"]
    ]
}, {
    "id": "19107cca.3febeb",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 22,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Backward (50cm)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-backward",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 880,
    "wires": [
        ["7ba5c40.65ce4bc"]
    ]
}, {
    "id": "c42c7ba7.170f68",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 23,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 320,
    "y": 920,
    "wires": [
        ["9da3a805.ab51a8"]
    ]
}, {
    "id": "d42ccfe0.b6b0e8",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "Counter Clockwise",
    "group": "1eefcfb1.386918",
    "order": 24,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Anti-Clockwise (90º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-undo",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 960,
    "wires": [
        ["b64d56d0.6c4278"]
    ]
}, {
    "id": "e17c523c.68a968",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 25,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Full Rotation (360º)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 1000,
    "wires": [
        ["f6b4ef62.2f4698"]
    ]
}, {
    "id": "be867cbd.b4bea",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 26,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Flip (forward)",
    "color": "",
    "bgcolor": "",
    "icon": "fa-repeat",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 320,
    "y": 1040,
    "wires": [
        ["5033144e.35bde4"]
    ]
}, {
    "id": "be513c14.2d1f38",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Emergency Stop",
    "color": "",
    "bgcolor": "red",
    "icon": "fa-stop-circle",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 640,
    "wires": [
        ["e01c9771.b785c8"]
    ]
}, {
    "id": "a0b0e82c.fbf228",
    "type": "udp in",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "iface": "",
    "port": "8890",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 120,
    "y": 400,
    "wires": [
        ["53930ded.098c2c"]
    ]
}, {
    "id": "f130e5c5.9e198",
    "type": "debug",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 770,
    "y": 360,
    "wires": []
}, {
    "id": "53930ded.098c2c",
    "type": "delay",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "2",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 290,
    "y": 400,
    "wires": [
        ["911f9d0a.75bb7"]
    ]
}, {
    "id": "911f9d0a.75bb7",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Parse Status into an object",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": " $filter($split($trim($string(payload)), ';'), function($v){$v != ''}){$substringBefore($, ':') : $number($substringAfter($, ':'))}",
        "tot": "jsonata"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 400,
    "wires": [
        ["19f5dc13.29a794", "f130e5c5.9e198"]
    ]
}, {
    "id": "57347ffc.4dd358",
    "type": "comment",
    "z": "3f2fa13.a214e5e",
    "name": "Open port 8890/udp in Firewall",
    "info": "Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.",
    "x": 170,
    "y": 360,
    "wires": []
}, {
    "id": "19f5dc13.29a794",
    "type": "link out",
    "z": "3f2fa13.a214e5e",
    "name": "STATUS-parsed",
    "links": ["bebb0fa2.9dc588", "1d53d5e0.ff7372"],
    "x": 715,
    "y": 400,
    "wires": []
}, {
    "id": "1d53d5e0.ff7372",
    "type": "link in",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "links": ["a96f756b.a69d18", "19f5dc13.29a794"],
    "x": 855,
    "y": 620,
    "wires": [
        ["6148ff00.d1e9f8"]
    ]
}, {
    "id": "6148ff00.d1e9f8",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "battery percentage",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.bat",
        "tot": "msg"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 620,
    "wires": [
        ["5314aecf.cab46"]
    ]
}, {
    "id": "5314aecf.cab46",
    "type": "ui_gauge",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "2b04f4d6.55fcf4",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Battery",
    "label": "Battery",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "x": 1200,
    "y": 620,
    "wires": []
}, {
    "id": "9dd2236e.7ced4",
    "type": "ui_button",
    "z": "3f2fa13.a214e5e",
    "name": "",
    "group": "1eefcfb1.386918",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Connect",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 300,
    "y": 480,
    "wires": [
        ["6fc479c5.8c061"]
    ]
}, {
    "id": "6fc479c5.8c061",
    "type": "change",
    "z": "3f2fa13.a214e5e",
    "name": "Init",
    "rules": [{
        "t": "delete",
        "p": "payload",
        "pt": "msg"
    }, {
        "t": "set",
        "p": "payload.tellocmd",
        "pt": "msg",
        "to": "command",
        "tot": "str"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 500,
    "wires": [
        ["d3766a36.b952b"]
    ]
}, {
    "id": "7c5bbec6.ecfe38",
    "type": "inject",
    "z": "3f2fa13.a214e5e",
    "name": "Connect",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 120,
    "y": 500,
    "wires": [
        ["6fc479c5.8c061"]
    ]
}, {
    "id": "1eefcfb1.386918",
    "type": "ui_group",
    "z": "",
    "name": "Control",
    "tab": "4f30c4f4.dd6eac",
    "order": 4,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "2b04f4d6.55fcf4",
    "type": "ui_group",
    "z": "",
    "name": "Stats",
    "tab": "4f30c4f4.dd6eac",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "4f30c4f4.dd6eac",
    "type": "ui_tab",
    "z": "",
    "name": "Tello Drone",
    "icon": "fa-tachometer"
}]